.nav>li{
	padding-top:20px;
}
.nav>li>a {
	padding: 3px 20px 3px 20px;

}
.nav>li>a:hover {

}
.well{
	font-size:12px;
}

#chartdiv {
	width: 100%;
	height: 500px;
}	
#chartdiv2 {
	width: 100%;
	height: 400px;
}	
#outchartdiv2{
	display:none;
}
#outchartdiv4{
	display:none;
}
#chartdiv3 {
	width: 100%;
	height: 500px;
}
#chartdiv4{
	width: 100%;
	height: 400px;
}
#chartdiv_dak {
	width: 100%;
	height: 400px;
}	
#outchartdiv_dak{
	display:none;
}
#chartdiv_pie_dak {
	width: 100%;
	height: 400px;
}	
#outchartdiv_pie_dak{
	display:none;
}

#chartdiv_tp {
	width: 100%;
	height: 400px;
}	
#outchartdiv_tp{
	display:none;
}
#chartdiv_pie_tp{
	width: 100%;
	height: 400px;
}	
#outchartdiv_pie_tp{
	display:none;
}

#chartdiv_bankeu_kab{
	width: 100%;
	height: 400px;
}	
#outchartdiv_bankeu_kab{
	display:none;
}
#chartdiv_pie_bankeu_kab {
	width: 100%;
	height: 400px;
}	
#outchartdiv_pie_bankeu_kab{ 
	display:none;
}

#chartdiv_bankeu_desa {
	width: 100%;
	height: 400px;
}	
#outchartdiv_bankeu_desa{
	display:none;
}
#chartdiv_pie_bankeu_desa {
	width: 100%;
	height: 400px;
}	
#outchartdiv_pie_bankeu_desa{
	display:none;
}

 #chartdiv_dbhcht {
	width: 100%;
	height: 400px;
}	
#outchartdiv_dbhcht{
	display:none;
}
#chartdiv_pie_dbhcht {
	width: 100%;
	height: 400px;
}	
#outchartdiv_pie_dbhcht{
	display:none;
}

#chartdiv_dub {
	width: 100%;
	height: 400px;
}	
#outchartdiv_dub{
	display:none;
}
#chartdiv_pie_dub {
	width: 100%;
	height: 400px;
}	
#outchartdiv_pie_dub{
	display:none;
}

#chartdiv_dekon {
	width: 100%;
	height: 400px;
}	
#outchartdiv_dekon{
	display:none;
}
#chartdiv_pie_dekon {
	width: 100%;
	height: 400px;
}	
#outchartdiv_pie_dekon{
	display:none;
}

/* hide first instance */
.panel_apbd{display:none;}
.panel_dak{display:none;}
.panel_tp{display:none;}
.panel_dbhcht{display:none;}
.panel_bankeu_kab{display:none;}
.panel_bankeu_desa{display:none;}
.panel_dub{display:none;}
.panel_dekon{display:none;}