@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot@#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.ico-cabinet:before, .ico-cabinet-2:before, .ico-file:before, .ico-file-2:before, .ico-file-3:before, .ico-files:before, .ico-phone:before, .ico-tablet:before, .ico-window:before, .ico-monitor:before, .ico-film:before, .ico-inbox:before, .ico-download:before, .ico-upload:before, .ico-inbox-2:before, .ico-cog:before, .ico-cogs:before, .ico-cog-2:before, .ico-warning:before, .ico-picture:before, .ico-pictures:before, .ico-pictures-2:before, .ico-alarm-clock:before, .ico-time:before, .ico-checkmark:before, .ico-cancel:before, .ico-eye:before, .ico-site-map:before, .ico-site-map-2:before, .ico-cloud:before, .ico-upload-2:before, .ico-chart:before, .ico-chart-2:before, .ico-chart-3:before, .ico-chart-4:before, .ico-chart-5:before, .ico-chart-6:before, .ico-location:before, .ico-download-2:before, .ico-folder:before, .ico-alarm:before, .ico-alarm-cancel:before, .ico-phone-2:before, .ico-phone-3:before, .ico-image:before, .ico-open:before, .ico-sale:before, .ico-direction:before, .ico-map:before, .ico-trashcan:before, .ico-vote:before, .ico-lab:before, .ico-locked:before, .ico-unlocked:before, .ico-locked-2:before, .ico-unlocked-2:before, .ico-magnifier:before, .ico-zoom-in:before, .ico-zoom-out:before, .ico-stack:before, .ico-stack-2:before, .ico-stack-3:before, .ico-archive:before, .ico-battery:before, .ico-battery-2:before, .ico-battery-3:before, .ico-battery-4:before, .ico-battery-5:before, .ico-megaphone:before, .ico-megaphone-2:before, .ico-patch:before, .ico-pil:before, .ico-injection:before, .ico-thermometer:before, .ico-lamp:before, .ico-lamp-2:before, .ico-lamp-3:before, .ico-cube:before, .ico-box:before, .ico-box-2:before, .ico-diamond:before, .ico-bag:before, .ico-money-bag:before, .ico-grid:before, .ico-grid-2:before, .ico-list:before, .ico-list-2:before, .ico-ruler:before, .ico-ruler-2:before, .ico-layout:before, .ico-layout-2:before, .ico-layout-3:before, .ico-layout-4:before, .ico-layout-5:before, .ico-layout-6:before, .ico-layout-7:before, .ico-layout-8:before, .ico-layout-9:before, .ico-layout-10:before, .ico-layout-11:before, .ico-layout-12:before, .ico-layout-13:before, .ico-layout-14:before, .ico-tools:before, .ico-screwdriver:before, .ico-paint:before, .ico-hammer:before, .ico-brush:before, .ico-pen:before, .ico-chat:before, .ico-comments:before, .ico-chat-2:before, .ico-chat-3:before, .ico-volume:before, .ico-volume-2:before, .ico-volume-3:before, .ico-equalizer:before, .ico-resize:before, .ico-resize-2:before, .ico-download-3:before, .ico-stats:before, .ico-stats-2:before, .ico-attachment:before, .ico-hourglass:before, .ico-pencil:before, .ico-pen-2:before, .ico-pin:before, .ico-pin-2:before, .ico-discout:before, .ico-edit:before, .ico-scissors:before, .ico-profile:before, .ico-rotate:before, .ico-rotate-2:before, .ico-reply:before, .ico-forward:before, .ico-retweet:before, .ico-shuffle:before, .ico-loop:before, .ico-crop:before, .ico-dollar:before, .ico-dollar-2:before, .ico-coins:before, .ico-pig:before, .ico-bookmark:before, .ico-bookmark-2:before, .ico-address-book:before, .ico-address-book-2:before, .ico-safe:before, .ico-envelope:before, .ico-envelope-2:before, .ico-heart:before, .ico-info:before, .ico-info-2:before, .ico-book:before, .ico-book-2:before, .ico-barcode:before, .ico-barcode-2:before, .ico-expand:before, .ico-collapse:before, .ico-pop-out:before, .ico-pop-in:before, .ico-cone:before, .ico-blocked:before, .ico-stop:before, .ico-keyboard:before, .ico-printer:before, .ico-checked:before, .ico-error:before, .ico-add:before, .ico-minus:before, .ico-alert:before, .ico-pictures-3:before, .ico-atom:before, .ico-eyedropper:before, .ico-globe:before, .ico-globe-2:before, .ico-shipping:before, .ico-ying-yang:before, .ico-compass:before, .ico-zip:before, .ico-zip-2:before, .ico-tags:before, .ico-heart-2:before, .ico-heart-3:before, .ico-usb:before, .ico-clipboard:before, .ico-clipboard-2:before, .ico-clipboard-3:before, .ico-switch:before, .ico-ruler-3:before, .ico-glass:before, .ico-music:before, .ico-search:before, .ico-envelope-3:before, .ico-heart-4:before, .ico-star:before, .ico-star-empty:before, .ico-user:before, .ico-film-2:before, .ico-th-large:before, .ico-ok:before, .ico-remove:before, .ico-zoom-in-2:before, .ico-zoom-out-2:before, .ico-off:before, .ico-signal:before, .ico-cog-3:before, .ico-trash:before, .ico-home:before, .ico-file-4:before, .ico-time-2:before, .ico-road:before, .ico-download-alt:before, .ico-download-4:before, .ico-upload-3:before, .ico-inbox-3:before, .ico-play-circle:before, .ico-repeat:before, .ico-refresh:before, .ico-list-alt:before, .ico-lock:before, .ico-flag:before, .ico-volume-off:before, .ico-volume-down:before, .ico-volume-up:before, .ico-qrcode:before, .ico-barcode-3:before, .ico-tag:before, .ico-tags-2:before, .ico-book-3:before, .ico-bookmark-3:before, .ico-print:before, .ico-align-left:before, .ico-align-center:before, .ico-align-right:before, .ico-align-justify:before, .ico-list-3:before, .ico-indent-left:before, .ico-indent-right:before, .ico-facetime-video:before, .ico-picture-2:before, .ico-pencil-2:before, .ico-map-marker:before, .ico-adjust:before, .ico-tint:before, .ico-edit-2:before, .ico-share:before, .ico-check:before, .ico-move:before, .ico-step-backward:before, .ico-fast-backward:before, .ico-backward:before, .ico-play:before, .ico-pause:before, .ico-stop-2:before, .ico-forward-2:before, .ico-fast-forward:before, .ico-step-forward:before, .ico-eject:before, .ico-chevron-left:before, .ico-chevron-right:before, .ico-plus-sign:before, .ico-minus-sign:before, .ico-remove-sign:before, .ico-ok-sign:before, .ico-question-sign:before, .ico-info-sign:before, .ico-screenshot:before, .ico-remove-circle:before, .ico-ok-circle:before, .ico-ban-circle:before, .ico-arrow-left:before, .ico-arrow-right:before, .ico-arrow-up:before, .ico-arrow-down:before, .ico-share-alt:before, .ico-resize-full:before, .ico-resize-small:before, .ico-plus:before, .ico-minus-2:before, .ico-asterisk:before, .ico-exclamation-sign:before, .ico-eye-open:before, .ico-eye-close:before, .ico-warning-sign:before, .ico-plane:before, .ico-calendar:before, .ico-random:before, .ico-comment:before, .ico-magnet:before, .ico-chevron-up:before, .ico-chevron-down:before, .ico-retweet-2:before, .ico-shopping-cart:before, .ico-folder-close:before, .ico-folder-open:before, .ico-resize-vertical:before, .ico-resize-horizontal:before, .ico-bar-chart:before, .ico-cogs-2:before, .ico-comments-2:before, .ico-thumbs-up:before, .ico-thumbs-down:before, .ico-heart-empty:before, .ico-signout:before, .ico-pushpin:before, .ico-external-link:before, .ico-signin:before, .ico-trophy:before, .ico-upload-alt:before, .ico-lemon:before, .ico-phone-4:before, .ico-check-empty:before, .ico-bookmark-empty:before, .ico-phone-sign:before, .ico-facebook:before, .ico-github:before, .ico-unlock:before, .ico-credit:before, .ico-rss:before, .ico-hdd:before, .ico-bullhorn:before, .ico-bell:before, .ico-certificate:before, .ico-hand-right:before, .ico-hand-left:before, .ico-hand-up:before, .ico-hand-down:before, .ico-circle-arrow-left:before, .ico-circle-arrow-right:before, .ico-circle-arrow-up:before, .ico-circle-arrow-down:before, .ico-globe-3:before, .ico-wrench:before, .ico-tasks:before, .ico-filter:before, .ico-briefcase:before, .ico-fullscreen:before, .ico-group:before, .ico-link:before, .ico-cloud-2:before, .ico-beaker:before, .ico-copy:before, .ico-paper-clip:before, .ico-table:before, .ico-money:before, .ico-caret-down:before, .ico-caret-up:before, .ico-caret-left:before, .ico-caret-right:before, .ico-columns:before, .ico-sort:before, .ico-sort-down:before, .ico-sort-up:before, .ico-envelope-alt:before, .ico-undo:before, .ico-comment-alt:before, .ico-comments-alt:before, .ico-bolt:before, .ico-exchange:before, .ico-cloud-download:before, .ico-cloud-upload:before, .ico-file-alt:before, .ico-double-angle-left:before, .ico-double-angle-right:before, .ico-double-angle-up:before, .ico-double-angle-down:before, .ico-angle-left:before, .ico-angle-right:before, .ico-angle-up:before, .ico-angle-down:before, .ico-desktop:before, .ico-laptop:before, .ico-tablet-2:before, .ico-mobile:before, .ico-circle:before, .ico-reply-2:before, .ico-folder-close-alt:before, .ico-folder-open-alt:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ico-cabinet:before {
	content: "\e1dd";
}
.ico-cabinet-2:before {
	content: "\e1de";
}
.ico-file:before {
	content: "\e1e2";
}
.ico-file-2:before {
	content: "\e1e3";
}
.ico-file-3:before {
	content: "\e1e4";
}
.ico-files:before {
	content: "\e1e5";
}
.ico-phone:before {
	content: "\e1e6";
}
.ico-tablet:before {
	content: "\e1e7";
}
.ico-window:before {
	content: "\e1e8";
}
.ico-monitor:before {
	content: "\e1e9";
}
.ico-film:before {
	content: "\e1f0";
}
.ico-inbox:before {
	content: "\e1fd";
}
.ico-download:before {
	content: "\e1fe";
}
.ico-upload:before {
	content: "\e1ff";
}
.ico-inbox-2:before {
	content: "\e200";
}
.ico-cog:before {
	content: "\e20b";
}
.ico-cogs:before {
	content: "\e20c";
}
.ico-cog-2:before {
	content: "\e20d";
}
.ico-warning:before {
	content: "\e20e";
}
.ico-picture:before {
	content: "\e213";
}
.ico-pictures:before {
	content: "\e214";
}
.ico-pictures-2:before {
	content: "\e215";
}
.ico-alarm-clock:before {
	content: "\e21d";
}
.ico-time:before {
	content: "\e21f";
}
.ico-checkmark:before {
	content: "\e222";
}
.ico-cancel:before {
	content: "\e223";
}
.ico-eye:before {
	content: "\e224";
}
.ico-site-map:before {
	content: "\e226";
}
.ico-site-map-2:before {
	content: "\e227";
}
.ico-cloud:before {
	content: "\e228";
}
.ico-upload-2:before {
	content: "\e229";
}
.ico-chart:before {
	content: "\e22a";
}
.ico-chart-2:before {
	content: "\e22b";
}
.ico-chart-3:before {
	content: "\e22c";
}
.ico-chart-4:before {
	content: "\e22d";
}
.ico-chart-5:before {
	content: "\e22e";
}
.ico-chart-6:before {
	content: "\e22f";
}
.ico-location:before {
	content: "\e230";
}
.ico-download-2:before {
	content: "\e231";
}
.ico-folder:before {
	content: "\e233";
}
.ico-alarm:before {
	content: "\e235";
}
.ico-alarm-cancel:before {
	content: "\e236";
}
.ico-phone-2:before {
	content: "\e237";
}
.ico-phone-3:before {
	content: "\e238";
}
.ico-image:before {
	content: "\e239";
}
.ico-open:before {
	content: "\e23a";
}
.ico-sale:before {
	content: "\e23b";
}
.ico-direction:before {
	content: "\e23c";
}
.ico-map:before {
	content: "\e23d";
}
.ico-trashcan:before {
	content: "\e23e";
}
.ico-vote:before {
	content: "\e23f";
}
.ico-lab:before {
	content: "\e241";
}
.ico-locked:before {
	content: "\e25a";
}
.ico-unlocked:before {
	content: "\e25b";
}
.ico-locked-2:before {
	content: "\e25c";
}
.ico-unlocked-2:before {
	content: "\e25d";
}
.ico-magnifier:before {
	content: "\e25e";
}
.ico-zoom-in:before {
	content: "\e25f";
}
.ico-zoom-out:before {
	content: "\e260";
}
.ico-stack:before {
	content: "\e261";
}
.ico-stack-2:before {
	content: "\e262";
}
.ico-stack-3:before {
	content: "\e263";
}
.ico-archive:before {
	content: "\e270";
}
.ico-battery:before {
	content: "\e271";
}
.ico-battery-2:before {
	content: "\e272";
}
.ico-battery-3:before {
	content: "\e273";
}
.ico-battery-4:before {
	content: "\e274";
}
.ico-battery-5:before {
	content: "\e275";
}
.ico-megaphone:before {
	content: "\e276";
}
.ico-megaphone-2:before {
	content: "\e277";
}
.ico-patch:before {
	content: "\e278";
}
.ico-pil:before {
	content: "\e279";
}
.ico-injection:before {
	content: "\e27a";
}
.ico-thermometer:before {
	content: "\e27b";
}
.ico-lamp:before {
	content: "\e27c";
}
.ico-lamp-2:before {
	content: "\e27d";
}
.ico-lamp-3:before {
	content: "\e27e";
}
.ico-cube:before {
	content: "\e27f";
}
.ico-box:before {
	content: "\e280";
}
.ico-box-2:before {
	content: "\e281";
}
.ico-diamond:before {
	content: "\e282";
}
.ico-bag:before {
	content: "\e283";
}
.ico-money-bag:before {
	content: "\e284";
}
.ico-grid:before {
	content: "\e285";
}
.ico-grid-2:before {
	content: "\e286";
}
.ico-list:before {
	content: "\e287";
}
.ico-list-2:before {
	content: "\e288";
}
.ico-ruler:before {
	content: "\e289";
}
.ico-ruler-2:before {
	content: "\e28a";
}
.ico-layout:before {
	content: "\e28b";
}
.ico-layout-2:before {
	content: "\e28c";
}
.ico-layout-3:before {
	content: "\e28d";
}
.ico-layout-4:before {
	content: "\e28e";
}
.ico-layout-5:before {
	content: "\e28f";
}
.ico-layout-6:before {
	content: "\e290";
}
.ico-layout-7:before {
	content: "\e291";
}
.ico-layout-8:before {
	content: "\e292";
}
.ico-layout-9:before {
	content: "\e293";
}
.ico-layout-10:before {
	content: "\e294";
}
.ico-layout-11:before {
	content: "\e295";
}
.ico-layout-12:before {
	content: "\e296";
}
.ico-layout-13:before {
	content: "\e297";
}
.ico-layout-14:before {
	content: "\e298";
}
.ico-tools:before {
	content: "\e299";
}
.ico-screwdriver:before {
	content: "\e29a";
}
.ico-paint:before {
	content: "\e29b";
}
.ico-hammer:before {
	content: "\e29c";
}
.ico-brush:before {
	content: "\e29d";
}
.ico-pen:before {
	content: "\e29e";
}
.ico-chat:before {
	content: "\e29f";
}
.ico-comments:before {
	content: "\e2a0";
}
.ico-chat-2:before {
	content: "\e2a1";
}
.ico-chat-3:before {
	content: "\e2a2";
}
.ico-volume:before {
	content: "\e2a3";
}
.ico-volume-2:before {
	content: "\e2a4";
}
.ico-volume-3:before {
	content: "\e2a5";
}
.ico-equalizer:before {
	content: "\e2a6";
}
.ico-resize:before {
	content: "\e2a7";
}
.ico-resize-2:before {
	content: "\e2a8";
}
.ico-download-3:before {
	content: "\e2ac";
}
.ico-stats:before {
	content: "\e2b1";
}
.ico-stats-2:before {
	content: "\e2b2";
}
.ico-attachment:before {
	content: "\e2b3";
}
.ico-hourglass:before {
	content: "\e2b4";
}
.ico-pencil:before {
	content: "\e2b6";
}
.ico-pen-2:before {
	content: "\e2b7";
}
.ico-pin:before {
	content: "\e2b8";
}
.ico-pin-2:before {
	content: "\e2b9";
}
.ico-discout:before {
	content: "\e2ba";
}
.ico-edit:before {
	content: "\e2bb";
}
.ico-scissors:before {
	content: "\e2bc";
}
.ico-profile:before {
	content: "\e2bf";
}
.ico-rotate:before {
	content: "\e2c0";
}
.ico-rotate-2:before {
	content: "\e2c1";
}
.ico-reply:before {
	content: "\e2c2";
}
.ico-forward:before {
	content: "\e2c3";
}
.ico-retweet:before {
	content: "\e2c4";
}
.ico-shuffle:before {
	content: "\e2c5";
}
.ico-loop:before {
	content: "\e2c6";
}
.ico-crop:before {
	content: "\e2c7";
}
.ico-dollar:before {
	content: "\e2cb";
}
.ico-dollar-2:before {
	content: "\e2cc";
}
.ico-coins:before {
	content: "\e2cd";
}
.ico-pig:before {
	content: "\e2ce";
}
.ico-bookmark:before {
	content: "\e2cf";
}
.ico-bookmark-2:before {
	content: "\e2d0";
}
.ico-address-book:before {
	content: "\e2d1";
}
.ico-address-book-2:before {
	content: "\e2d2";
}
.ico-safe:before {
	content: "\e2d3";
}
.ico-envelope:before {
	content: "\e2d4";
}
.ico-envelope-2:before {
	content: "\e2d5";
}
.ico-heart:before {
	content: "\e2dc";
}
.ico-info:before {
	content: "\e2dd";
}
.ico-info-2:before {
	content: "\e2de";
}
.ico-book:before {
	content: "\e2ef";
}
.ico-book-2:before {
	content: "\e2f0";
}
.ico-barcode:before {
	content: "\e2f1";
}
.ico-barcode-2:before {
	content: "\e2f2";
}
.ico-expand:before {
	content: "\e2f3";
}
.ico-collapse:before {
	content: "\e2f4";
}
.ico-pop-out:before {
	content: "\e2f5";
}
.ico-pop-in:before {
	content: "\e2f6";
}
.ico-cone:before {
	content: "\e2fe";
}
.ico-blocked:before {
	content: "\e2ff";
}
.ico-stop:before {
	content: "\e300";
}
.ico-keyboard:before {
	content: "\e301";
}
.ico-printer:before {
	content: "\e304";
}
.ico-checked:before {
	content: "\e305";
}
.ico-error:before {
	content: "\e306";
}
.ico-add:before {
	content: "\e307";
}
.ico-minus:before {
	content: "\e308";
}
.ico-alert:before {
	content: "\e309";
}
.ico-pictures-3:before {
	content: "\e30a";
}
.ico-atom:before {
	content: "\e30b";
}
.ico-eyedropper:before {
	content: "\e30c";
}
.ico-globe:before {
	content: "\e30d";
}
.ico-globe-2:before {
	content: "\e30e";
}
.ico-shipping:before {
	content: "\e30f";
}
.ico-ying-yang:before {
	content: "\e310";
}
.ico-compass:before {
	content: "\e311";
}
.ico-zip:before {
	content: "\e312";
}
.ico-zip-2:before {
	content: "\e313";
}
.ico-tags:before {
	content: "\e318";
}
.ico-heart-2:before {
	content: "\e319";
}
.ico-heart-3:before {
	content: "\e31a";
}
.ico-usb:before {
	content: "\e31b";
}
.ico-clipboard:before {
	content: "\e31c";
}
.ico-clipboard-2:before {
	content: "\e31d";
}
.ico-clipboard-3:before {
	content: "\e31e";
}
.ico-switch:before {
	content: "\e31f";
}
.ico-ruler-3:before {
	content: "\e320";
}
.ico-glass:before {
	content: "\f000";
}
.ico-music:before {
	content: "\f001";
}
.ico-search:before {
	content: "\f002";
}
.ico-envelope-3:before {
	content: "\f003";
}
.ico-heart-4:before {
	content: "\f004";
}
.ico-star:before {
	content: "\f005";
}
.ico-star-empty:before {
	content: "\f006";
}
.ico-user:before {
	content: "\f007";
}
.ico-film-2:before {
	content: "\f008";
}
.ico-th-large:before {
	content: "\f009";
}
.ico-ok:before {
	content: "\f00c";
}
.ico-remove:before {
	content: "\f00d";
}
.ico-zoom-in-2:before {
	content: "\f00e";
}
.ico-zoom-out-2:before {
	content: "\f010";
}
.ico-off:before {
	content: "\f011";
}
.ico-signal:before {
	content: "\f012";
}
.ico-cog-3:before {
	content: "\f013";
}
.ico-trash:before {
	content: "\f014";
}
.ico-home:before {
	content: "\f015";
}
.ico-file-4:before {
	content: "\f016";
}
.ico-time-2:before {
	content: "\f017";
}
.ico-road:before {
	content: "\f018";
}
.ico-download-alt:before {
	content: "\f019";
}
.ico-download-4:before {
	content: "\f01a";
}
.ico-upload-3:before {
	content: "\f01b";
}
.ico-inbox-3:before {
	content: "\f01c";
}
.ico-play-circle:before {
	content: "\f01d";
}
.ico-repeat:before {
	content: "\f01e";
}
.ico-refresh:before {
	content: "\f021";
}
.ico-list-alt:before {
	content: "\f022";
}
.ico-lock:before {
	content: "\f023";
}
.ico-flag:before {
	content: "\f024";
}
.ico-volume-off:before {
	content: "\f026";
}
.ico-volume-down:before {
	content: "\f027";
}
.ico-volume-up:before {
	content: "\f028";
}
.ico-qrcode:before {
	content: "\f029";
}
.ico-barcode-3:before {
	content: "\f02a";
}
.ico-tag:before {
	content: "\f02b";
}
.ico-tags-2:before {
	content: "\f02c";
}
.ico-book-3:before {
	content: "\f02d";
}
.ico-bookmark-3:before {
	content: "\f02e";
}
.ico-print:before {
	content: "\f02f";
}
.ico-align-left:before {
	content: "\f036";
}
.ico-align-center:before {
	content: "\f037";
}
.ico-align-right:before {
	content: "\f038";
}
.ico-align-justify:before {
	content: "\f039";
}
.ico-list-3:before {
	content: "\f03a";
}
.ico-indent-left:before {
	content: "\f03b";
}
.ico-indent-right:before {
	content: "\f03c";
}
.ico-facetime-video:before {
	content: "\f03d";
}
.ico-picture-2:before {
	content: "\f03e";
}
.ico-pencil-2:before {
	content: "\f040";
}
.ico-map-marker:before {
	content: "\f041";
}
.ico-adjust:before {
	content: "\f042";
}
.ico-tint:before {
	content: "\f043";
}
.ico-edit-2:before {
	content: "\f044";
}
.ico-share:before {
	content: "\f045";
}
.ico-check:before {
	content: "\f046";
}
.ico-move:before {
	content: "\f047";
}
.ico-step-backward:before {
	content: "\f048";
}
.ico-fast-backward:before {
	content: "\f049";
}
.ico-backward:before {
	content: "\f04a";
}
.ico-play:before {
	content: "\f04b";
}
.ico-pause:before {
	content: "\f04c";
}
.ico-stop-2:before {
	content: "\f04d";
}
.ico-forward-2:before {
	content: "\f04e";
}
.ico-fast-forward:before {
	content: "\f050";
}
.ico-step-forward:before {
	content: "\f051";
}
.ico-eject:before {
	content: "\f052";
}
.ico-chevron-left:before {
	content: "\f053";
}
.ico-chevron-right:before {
	content: "\f054";
}
.ico-plus-sign:before {
	content: "\f055";
}
.ico-minus-sign:before {
	content: "\f056";
}
.ico-remove-sign:before {
	content: "\f057";
}
.ico-ok-sign:before {
	content: "\f058";
}
.ico-question-sign:before {
	content: "\f059";
}
.ico-info-sign:before {
	content: "\f05a";
}
.ico-screenshot:before {
	content: "\f05b";
}
.ico-remove-circle:before {
	content: "\f05c";
}
.ico-ok-circle:before {
	content: "\f05d";
}
.ico-ban-circle:before {
	content: "\f05e";
}
.ico-arrow-left:before {
	content: "\f060";
}
.ico-arrow-right:before {
	content: "\f061";
}
.ico-arrow-up:before {
	content: "\f062";
}
.ico-arrow-down:before {
	content: "\f063";
}
.ico-share-alt:before {
	content: "\f064";
}
.ico-resize-full:before {
	content: "\f065";
}
.ico-resize-small:before {
	content: "\f066";
}
.ico-plus:before {
	content: "\f067";
}
.ico-minus-2:before {
	content: "\f068";
}
.ico-asterisk:before {
	content: "\f069";
}
.ico-exclamation-sign:before {
	content: "\f06a";
}
.ico-eye-open:before {
	content: "\f06e";
}
.ico-eye-close:before {
	content: "\f070";
}
.ico-warning-sign:before {
	content: "\f071";
}
.ico-plane:before {
	content: "\f072";
}
.ico-calendar:before {
	content: "\f073";
}
.ico-random:before {
	content: "\f074";
}
.ico-comment:before {
	content: "\f075";
}
.ico-magnet:before {
	content: "\f076";
}
.ico-chevron-up:before {
	content: "\f077";
}
.ico-chevron-down:before {
	content: "\f078";
}
.ico-retweet-2:before {
	content: "\f079";
}
.ico-shopping-cart:before {
	content: "\f07a";
}
.ico-folder-close:before {
	content: "\f07b";
}
.ico-folder-open:before {
	content: "\f07c";
}
.ico-resize-vertical:before {
	content: "\f07d";
}
.ico-resize-horizontal:before {
	content: "\f07e";
}
.ico-bar-chart:before {
	content: "\f080";
}
.ico-cogs-2:before {
	content: "\f085";
}
.ico-comments-2:before {
	content: "\f086";
}
.ico-thumbs-up:before {
	content: "\f087";
}
.ico-thumbs-down:before {
	content: "\f088";
}
.ico-heart-empty:before {
	content: "\f08a";
}
.ico-signout:before {
	content: "\f08b";
}
.ico-pushpin:before {
	content: "\f08d";
}
.ico-external-link:before {
	content: "\f08e";
}
.ico-signin:before {
	content: "\f090";
}
.ico-trophy:before {
	content: "\f091";
}
.ico-upload-alt:before {
	content: "\f093";
}
.ico-lemon:before {
	content: "\f094";
}
.ico-phone-4:before {
	content: "\f095";
}
.ico-check-empty:before {
	content: "\f096";
}
.ico-bookmark-empty:before {
	content: "\f097";
}
.ico-phone-sign:before {
	content: "\f098";
}
.ico-facebook:before {
	content: "\f09a";
}
.ico-github:before {
	content: "\f09b";
}
.ico-unlock:before {
	content: "\f09c";
}
.ico-credit:before {
	content: "\f09d";
}
.ico-rss:before {
	content: "\f09e";
}
.ico-hdd:before {
	content: "\f0a0";
}
.ico-bullhorn:before {
	content: "\f0a1";
}
.ico-bell:before {
	content: "\f0a2";
}
.ico-certificate:before {
	content: "\f0a3";
}
.ico-hand-right:before {
	content: "\f0a4";
}
.ico-hand-left:before {
	content: "\f0a5";
}
.ico-hand-up:before {
	content: "\f0a6";
}
.ico-hand-down:before {
	content: "\f0a7";
}
.ico-circle-arrow-left:before {
	content: "\f0a8";
}
.ico-circle-arrow-right:before {
	content: "\f0a9";
}
.ico-circle-arrow-up:before {
	content: "\f0aa";
}
.ico-circle-arrow-down:before {
	content: "\f0ab";
}
.ico-globe-3:before {
	content: "\f0ac";
}
.ico-wrench:before {
	content: "\f0ad";
}
.ico-tasks:before {
	content: "\f0ae";
}
.ico-filter:before {
	content: "\f0b0";
}
.ico-briefcase:before {
	content: "\f0b1";
}
.ico-fullscreen:before {
	content: "\f0b2";
}
.ico-group:before {
	content: "\f0c0";
}
.ico-link:before {
	content: "\f0c1";
}
.ico-cloud-2:before {
	content: "\f0c2";
}
.ico-beaker:before {
	content: "\f0c3";
}
.ico-copy:before {
	content: "\f0c5";
}
.ico-paper-clip:before {
	content: "\f0c6";
}
.ico-table:before {
	content: "\f0ce";
}
.ico-money:before {
	content: "\f0d6";
}
.ico-caret-down:before {
	content: "\f0d7";
}
.ico-caret-up:before {
	content: "\f0d8";
}
.ico-caret-left:before {
	content: "\f0d9";
}
.ico-caret-right:before {
	content: "\f0da";
}
.ico-columns:before {
	content: "\f0db";
}
.ico-sort:before {
	content: "\f0dc";
}
.ico-sort-down:before {
	content: "\f0dd";
}
.ico-sort-up:before {
	content: "\f0de";
}
.ico-envelope-alt:before {
	content: "\f0e0";
}
.ico-undo:before {
	content: "\f0e2";
}
.ico-comment-alt:before {
	content: "\f0e5";
}
.ico-comments-alt:before {
	content: "\f0e6";
}
.ico-bolt:before {
	content: "\f0e7";
}
.ico-exchange:before {
	content: "\f0ec";
}
.ico-cloud-download:before {
	content: "\f0ed";
}
.ico-cloud-upload:before {
	content: "\f0ee";
}
.ico-file-alt:before {
	content: "\f0f6";
}
.ico-double-angle-left:before {
	content: "\f100";
}
.ico-double-angle-right:before {
	content: "\f101";
}
.ico-double-angle-up:before {
	content: "\f102";
}
.ico-double-angle-down:before {
	content: "\f103";
}
.ico-angle-left:before {
	content: "\f104";
}
.ico-angle-right:before {
	content: "\f105";
}
.ico-angle-up:before {
	content: "\f106";
}
.ico-angle-down:before {
	content: "\f107";
}
.ico-desktop:before {
	content: "\f108";
}
.ico-laptop:before {
	content: "\f109";
}
.ico-tablet-2:before {
	content: "\f10a";
}
.ico-mobile:before {
	content: "\f10b";
}
.ico-circle:before {
	content: "\f111";
}
.ico-reply-2:before {
	content: "\f112";
}
.ico-folder-close-alt:before {
	content: "\f114";
}
.ico-folder-open-alt:before {
	content: "\f115";
}
