noindex:-o-prefocus, .body .content .block .head .icon [class^="ico-"], .body .content .table .button .icon [class^="ico-"]{margin-left: 1px;}
noindex:-o-prefocus, .body .navigation .button .icon{padding-top: 8px; height: 36px;}
noindex:-o-prefocus, .body .content .widget.icon .left .icon{padding-top: 10px; height: 70px;}
noindex:-o-prefocus, .body .content .swidget .icon{height: 68px; padding-top: 7px;}
noindex:-o-prefocus, .page-header .icon{height: 27px; padding: 7px 2px 2px;}
