.grid{position:relative;clear:both;margin:0px auto !important;padding:0;max-width:100%;list-style:none;text-align:center;overflow:hidden;}
.grid figure{position:relative;float:left;overflow:hidden;margin:0;min-width:320px;max-width:100%;width:100%;text-align:center;cursor:pointer;}
.grid figure img{position:relative;display:block;max-width:100%;opacity:0.8;}
.grid figure figcaption{padding:2em;color:#fff;text-transform:uppercase;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.grid figure figcaption::before,
.grid figure figcaption::after{pointer-events:none;}
.grid figure figcaption,
.grid figure figcaption > a{position:absolute;top:0;left:0;width:100%;}
.grid figure figcaption > a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0;}
.grid figure h1{word-spacing:-0.15em;font-weight:300;}
.grid figure h1 span{font-weight:800;}
.grid figure h1,
.grid figure p{margin:0;}
.grid figure p{letter-spacing:1px;font-size:68.5%;}
figure.effect-julia{background:#2f3238;}
figure.effect-julia img{max-width:none;-webkit-transition:opacity 1s, -webkit-transform 1s;transition:opacity 1s, transform 1s;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
figure.effect-julia figcaption{text-align:left;}
figure.effect-julia h1{position:relative;padding:0.5em 0;}
figure.effect-julia p{display:inline-block;margin:0 0 0.25em;padding:0.4em 1em;background:rgba(255,255,255,0.9);color:#2f3238;text-transform:none;font-weight:500;font-size:75%;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-150%,0,0);transform:translate3d(-150%,0,0);}
figure.effect-julia p:first-child{-webkit-transition-delay:0.15s;transition-delay:0.15s;}
figure.effect-julia p:nth-of-type(2){-webkit-transition-delay:0.1s;transition-delay:0.1s;}
figure.effect-julia p:nth-of-type(3){-webkit-transition-delay:0.05s;transition-delay:0.05s;}
figure.effect-julia:hover p:first-child{-webkit-transition-delay:0s;transition-delay:0s;}
figure.effect-julia:hover p:nth-of-type(2){-webkit-transition-delay:0.05s;transition-delay:0.05s;}
figure.effect-julia:hover p:nth-of-type(3){-webkit-transition-delay:0.1s;transition-delay:0.1s;}
figure.effect-julia:hover img{opacity:0.4;-webkit-transform:scale3d(1.1,1.1,1);transform:scale3d(1.1,1.1,1);}
figure.effect-julia:hover p{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
figure.effect-hera{background:#303fa9;}
figure.effect-hera h1{font-size:158.75%;}
figure.effect-hera h1,
figure.effect-hera p{position:absolute;top:50%;left:50%;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);-webkit-transform-origin:50%;transform-origin:50%;}
figure.effect-hera figcaption::before{position:absolute;top:50%;left:50%;width:200px;height:200px;border:2px solid #fff;content:'';opacity:0;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);transform:translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);-webkit-transform-origin:50%;transform-origin:50%;}
figure.effect-hera p{width:100px;text-transform:none;font-size:121%;line-height:2;}
figure.effect-hera p a{color:#fff;}
figure.effect-hera p a:hover,
figure.effect-hera p a:focus{opacity:0.6;}
figure.effect-hera p a i{opacity:0;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;}
figure.effect-hera p a:first-child i{-webkit-transform:translate3d(-60px,-60px,0);transform:translate3d(-60px,-60px,0);}
figure.effect-hera p a:nth-child(2) i{-webkit-transform:translate3d(60px,-60px,0);transform:translate3d(60px,-60px,0);}
figure.effect-hera p a:nth-child(3) i{-webkit-transform:translate3d(-60px,60px,0);transform:translate3d(-60px,60px,0);}
figure.effect-hera p a:nth-child(4) i{-webkit-transform:translate3d(60px,60px,0);transform:translate3d(60px,60px,0);}
figure.effect-hera:hover figcaption::before{opacity:1;-webkit-transform:translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);transform:translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);}
figure.effect-hera:hover h1{opacity:0;-webkit-transform:translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);transform:translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);}
figure.effect-hera:hover p i:empty{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1;}
@media screen and (max-width:50em){.content{padding:0 10px;text-align:center;}
.grid figure{display:inline-block;float:none;margin:10px auto;width:100%;}
}



/* STYLES */

html,
button,
input,
select,
textarea{color:#222;border-radius:0px !important;}
html{font-size:1em;line-height:1.4;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
audio,
canvas,
img,
video{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
.browsehappy{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:150%;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,
.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
@media only screen and (min-width:35em){}
@media print,
(-o-min-device-pixel-ratio:5/4),
(-webkit-min-device-pixel-ratio:1.25),
(min-resolution:120dpi){}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;}
a,
a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after{content:"";}
pre,
blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr,
img{page-break-inside:avoid;}
img{max-width:100% !important;}
@page{margin:0.5cm;}
p,
h2,
h3{orphans:3;widows:3;}
h2,
h3{page-break-after:avoid;}
}
::-moz-selection{color:#fff;background:#555555;}
::selection{color:#fff;background:#666666;}
.min-hight500{min-height:500px;}
.lead{font:400 17px "Open Sans", sans-serif;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;line-height:0;}
*html .clearfix{zoom:1;}
*+html .clearfix{zoom:1;}
.clear{clear:both;height:0;font-size:0;line-height:0;overflow:hidden;}
.block-center{display:block;margin-left:auto;margin-right:auto;}
.content-center{text-align:center;}
.border-bottom-silver{border-bottom:solid 1px #b7bbbf;}
.more-li-space li{margin-bottom:3px;}
.no-padding{padding:0 !important;}
.no-margin{margin:0 !important;}
.no-bottom-padding{padding-bottom:0 !important;}
.no-bottom-space{padding-bottom:0 !important;margin-bottom:0 !important;}
.no-top-padding{padding-top:0 !important;}
.no-top-space{padding-top:0 !important;margin-top:0 !important;}
.no-space{margin:0 !important;padding:0 !important;}
.no-text-shadow{text-shadow:none;}
.padding-top-5{padding-top:5px !important;}
.padding-top-10{padding-top:10px !important;}
.padding-top-15{padding-top:15px !important;}
.padding-top-20{padding-top:20px !important;}
.padding-top-25{padding-top:25px !important;}
.padding-top-30{padding-top:30px !important;}
.padding-top-35{padding-top:35px !important;}
.padding-top-40{padding-top:40px !important;}
.padding-top-45{padding-top:45px !important;}
.padding-top-50{padding-top:50px !important;}
.padding-top-60{padding-top:60px !important;}
.padding-top-70{padding-top:70px !important;}
.padding-top-80{padding-top:80px !important;}
.margin-bottom-0{margin-bottom:0 !important;}
.margin-bottom-5{margin-bottom:5px !important;}
.margin-bottom-10{margin-bottom:10px !important;}
.margin-bottom-15{margin-bottom:15px !important;}
.margin-bottom-20{margin-bottom:20px !important;}
.margin-bottom-25{margin-bottom:25px !important;}
.margin-bottom-30{margin-bottom:30px !important;}
.margin-bottom-35{margin-bottom:35px !important;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-45{margin-bottom:45px !important;}
.margin-bottom-50{margin-bottom:50px;}
.margin-bottom-60{margin-bottom:60px !important;}
.margin-bottom-65{margin-bottom:65px !important;}
.margin-bottom-70{margin-bottom:70px !important;}
.margin-bottom-80{margin-bottom:80px !important;}
.margin-bottom-84{margin-bottom:84px;}
.margin-bottom-90{margin-bottom:90px !important;}
.margin-bottom-100{margin-bottom:100px !important;}
.margin-top-10{margin-top:10px !important;}
.margin-top-30{margin-top:30px;}
.margin-tb-30{margin-top:30px;margin-bottom:30px;}
.margin-tb-15{margin-top:15px;margin-bottom:15px;}
.margin-left-0{margin-left:0 !important;}
.margin-left-15{margin-left:15px;}
.margin-right-0{margin-right:0 !important;}
.margin-left--15{margin-left:-15px;}
.margin-right--15{margin-right:-15px;}
.margin-right-20{margin-right:20px !important;}
.margin-right-40{margin-right:40px !important;}
.margin-left-20{margin-left:20px !important;}
.padding-left-0{padding-left:0 !important;}
.padding-right-0{padding-right:0 !important;}
.padding-right-30{padding-right:30px !important;}
.padding-bottom-40{padding-bottom:40px;}
.no-padding-left{padding-left:0px;}
.no-padding-right{padding-right:0px;}
.no_bg{background:none;}
.btn-reverse{border:1px solid #5b5858 !important;border-radius:0 !important;}
.btn-reverse:hover{color: #666666;background:#fff;border:1px solid #ccc !important;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
/*.btn{padding:5px 10px;font-size:12px;text-transform:uppercase;border-radius:0;background:#666666;color:#fff;box-sizing:border-box;display:inline-block;}
.btn:hover{color:#666666;background:#fff;}
.btn_reverse{background:#fff;color:#666666;border:2px solid #e0e1e5;font-weight:700;font-size:14px;display:inline-block;}
.btn_reverse:hover{color:#fff;background:#666666;border:2px solid #555555;}
.btn.three_d_btn{border:0;border-radius:0;outline:0;background:#4e68c7;box-shadow:1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891;color:white;white-space:nowrap;padding:9px 16px;position:relative;}
.btn.three_d_btn:hover, .btn.three_d_btn:focus{background:#3d57b4;}
.btn.three_d_btn:active{box-shadow:1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891;@include transform(translate(3px, 3px));}
.btn:hover{}
.btn-primary{border:2px solid #AAAAAA;color:#747474;background:none;box-sizing:border-box;padding:7px 10px;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{}
.content-page .btn-primary,
.content-page .btn-primary:hover{color:#fff;margin-left:0 !important;}
.btn-default{}
.btn-default:hover,
.btn-default:focus,
.btn-default:active{}
*/
.embed-container{position:relative;overflow:hidden;padding-bottom:56.25%;padding-top:30px;}
.embed-container iframe,
.embed-container object,
.embed-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}
.responsive_video{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;}
.responsive_video iframe, .responsive_video object, .responsive_video embed{position:absolute;top:0;left:0;width:100%;max-height:100%;}
.floatleft{float:left;}
.floatright{float:right;}
.alignleft{float:left;margin-right:10px;}
.alignright{float:right;margin-left:10px;}
.aligncenter{display:block;margin:0 auto;}
a, a:active, a:focus, a:active{text-decoration:none !important;}
a:focus{outline:0px solid;}
img{max-width:100%;height:auto;}
.fix{overflow:hidden;}
h1, h2, h3, h4, h5, h6{font-weight:normal;margin:0 0 15px;}
.column{width:1000px;margin:0 auto;display:block;transition:all 0.9s ease 0s;-moz-transition:all 0.9s ease 0s;-webkit-transition:all 0.9s ease 0s;-o-transition:all 0.9s ease 0s;}
ul{margin:0;padding:0;list-style:none;}
body{font-family:'Open Sans', sans-serif;font-size:14px;color:#666666;}
a, button, .button, .icon{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;font-family:'Open Sans', sans-serif;}
*{margin:0;padding:0;}
.slicknav_menu{display:none}
h1, h2, h3, h4, h5, h6{margin:0;font-family:'Open Sans', sans-serif;}
p{margin-bottom:10px;font-family:'Open Sans', sans-serif;}
.textcenter{text-align:center;}
h1{font-size:45px;font-weight:700;}
h2{font-size:40px;text-transform:uppercase;font-weight:700;}
h3{font-size:30px;font-weight:700;text-transform:uppercase;}
h4{font-size:16px;font-weight:600;text-transform:uppercase;}
h5{font-size:14px;font-weight:700;text-transform:uppercase;}
h6{font-size:18px;font-weight:700;}
.special_border_right{overflow:hidden;position:relative;border-bottom:1px solid #dddddd;padding-bottom:10px}
.breadcrumb{background-color:transparent;margin:0;padding:0;}
.breadcrumb > li + li::before{color:#fff;content:">";font-size:10px;padding:0 5px;}
.breadcrumb > li > a{color:#fff;}
.top_border_with_pad{padding:15px 0px 5px 0px;border-top:1px solid #f4f4f4;}
.bot_border_with_pad{padding:15px 0px 15px 0px;border-bottom:1px solid #f4f4f4;}
.border_with_pad{padding:30px 0px;border-bottom:1px solid #f4f4f4;border-top:1px solid #f4f4f4;}
.no_border_with_30_pad{padding:30px 0px;}
.no_border_with_50_pad{padding-top:50px;padding-bottom:50px;}
header{background:#F7F7F7;}
.left_header_top{position:relative;z-index:9000;}
.left_header_top > ul > li{float:left;position:relative;}
.left_header_top > ul > li:after{border-right:1px solid #bbbbbb;content:"";height:35%;left:100%;position:absolute;top:28%;width:1px;}
.left_header_top > ul > li:last-child:after{border-right:none;}
.left_header_top > ul > li > a{color:#333333;display:inline-block;font-size:12px;padding:5px 10px;text-transform:uppercase;}
.left_header_top > ul > li > a img{padding:0 5px 4px 0;}
.left_header_top > ul > li:first-child > a{padding-left:0px;}
.left_header_top > ul > li > a > i{margin-left:5px;}
.left_header_top > ul > li > ul{background:none repeat scroll 0 0 #fff;box-shadow:0 0 2px #d3d3d3;height:auto;left:0;padding:0px;position:absolute;top:100%;width:100%;z-index:100;display:none;margin-top:-10px;}
.left_header_top > ul > li > ul > li > a{color:#666666;display:block;font-size:13px;line-height:20px;}
.left_header_top > ul > li, .right_header_top > ul > li{padding:0px 0;}
.right_header_top > ul > li{float:left;position:relative;}
.right_header_top > ul > li:after{border-right:1px solid #bbbbbb;content:"";height:35%;left:100%;position:absolute;top:28%;width:1px;}
.right_header_top > ul > li:last-child:after{border-right:none;}
.right_header_top > ul > li > a{color:#888888;display:block;font-size:12px;line-height:20px;padding:5px 10px;text-transform:uppercase;}
.right_header_top > ul > li:first-child .search-form .form-group{-webkit-transition:all 0.35s, border-radius 0s;-o-transition:all 0.35s, border-radius 0s;transition:all 0.35s, border-radius 0s;width:100%;background-color:#fff;margin-bottom:0px;float:right;}
.right_header_top > ul > li:first-child .search-form .form-group input.form-control{padding-right:30px;border:0 none;background:transparent;box-shadow:none;display:block;height:39px;}
.right_header_top > ul > li:first-child .search-form .form-group input.form-control::-webkit-input-placeholder{display:none;}
.right_header_top > ul > li:first-child .search-form .form-group input.form-control:-moz-placeholder{display:none;}
.right_header_top > ul > li:first-child .search-form .form-group input.form-control::-moz-placeholder{display:none;}
.right_header_top > ul > li:first-child .search-form .form-group input.form-control:-ms-input-placeholder{display:block;}
.right_header_top > ul > li:first-child .search-form .form-group:hover,
.right_header_top > ul > li:first-child .search-form .form-group.hover{width:100%;}
.right_header_top > ul > li:first-child .search-form .form-group span.form-control-feedback{position:absolute;top:1.5px;right:0px;z-index:2;display:block;width:34px;height:34px;line-height:34px;text-align:center;left:initial;font-size:14px;}
.right_header_top > ul > li > a > i{margin-right:6px;}
.right_header_top > ul > li > a >span.badge{background:none repeat scroll 0 0 rgba(0, 0, 0, 0);color:#888888;font-weight:400;}
.right_header_top > ul > li > ul{background:#fff;display:table-cell;min-width:262px;padding:20px;position:absolute;right:0;top:100%;z-index:200;display:none;box-shadow:0 0 5px #d3d3d3;}
.right_header_top > ul > li > ul > li{border-bottom:1px solid #dbdbdb;display:block;font-size:13px;overflow:hidden;padding:20px 0;color:#888888;}
.right_header_top > ul > li > ul > li:first-child{padding-top:0px;}
.right_header_top > ul > li > ul > li:last-child{border-bottom:medium none;padding-bottom:10px;}
.right_header_top > ul > li > ul > li > i{margin-top:15%;}
.right_header_top .add_to_cart{float:left;height:auto;width:90%;}
.right_header_top .add_to_cart > img{float:left;margin-right:11px;}
.right_header_top .add_to_cart > p{font-size:13px;margin-top:0;color:#888888;}
.right_header_top .add_to_cart > p.dress_name{color:#555555;}
.right_header_top .subtotal{font-size:13px;font-weight:600;line-height:24px;text-align:left;text-transform:uppercase;}
.right_header_top .ammount{color:#555555;float:right;font-size:16px;font-weight:700;}
.header_bottom_area{position:relative;z-index:99;background:#008306;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);margin:0 0 30px 0;}
.header-inner{padding:35px 0;}
.logo{float:left;}
.logo{padding:5px 0;}
.logo a{display:inline-block;}
.logo a img{margin-top:3px;}
.logo a span{color:#aaaaaa;display:block;font-family:"Montserrat",sans-serif;font-size:10px;letter-spacing:2px;line-height:9px;margin-left:32px;margin-top:0;text-transform:uppercase;}
.nav_wrap{width:100%;margin-right:15px;}
.header_bottom_area .container{position:relative;}
nav ul{padding:0px;margin:-15px;display:table;float:right;}
nav ul li{float:left;list-style:outside none none;}
nav ul > li > a{color:#555555;display:block;font-size:16px;font-weight:600;padding:42px 12px 21px 0px;position:relative;text-transform:uppercase;z-index:999;margin-left:25px;}
nav ul > li:last-child a{}
nav ul > li a:hover{color:#555555;}
nav ul > li.dropdown_mmenu > a, nav ul li.dropdown_menu > a{background:rgba(0, 0, 0, 0) url("../img/dropdown-bg.png") no-repeat scroll 100% 64%;}
.megamenu{position:absolute;width:700px;top:75px;right:0px;left:0px;background:#fff;margin:0 auto;padding:30px;opacity:0;visibility:hidden;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;box-shadow:0px 0px 5px #e7e7e7;}
.megamenu1 span{float:left;width:30%;margin-right:10px;overflow:hidden;}
.megamenu1 em{color:#555555;display:inline-table;font-size:16px;font-style:normal;font-weight:600;line-height:1.1;margin-bottom:29px;overflow:hidden;padding-right:10px;position:relative;text-transform:uppercase;}
.megamenu1 em:after{border-bottom:1px solid #e7e7e7;bottom:4px;content:"";left:100%;position:absolute;width:400%;}
.megamenu1 span a{background:rgba(0, 0, 0, 0) url("../img/list_style.png") no-repeat scroll 0 50%;color:#666666;display:table;font-size:13px;font-weight:normal;line-height:40px;overflow:hidden;padding-left:14px;text-transform:none;width:100%;}
.megamenu1{display:table;width:100%;}
.megamenu1 span:nth-child(5) img{display:table;float:right;margin:12px 0 0;}
.megamenu1 span:nth-child(5) a, .megamenu1 span:nth-child(5) a:hover{background:none;padding:0px;}
.megamenu2{display:table;width:100%;margin:40px 0 5px;}
.megamenu2 span{width:31%;margin-right:3.5%;float:left;}
.megamenu2 span:nth-child(3){margin-right:0%;}
.dropdown_menu{position:relative;}
.d_menu{width:220px;display:table;background:#fff;position:absolute;top:0px;left:0px;right:0px;opacity:0;visibility:hidden;}
.d_menu span a{font-family:Arial;color:#555;font-size:13px;padding:10px 20px;border-bottom:1px solid #eeeeee;float:none;font-weight:normal;text-transform:none;width:100%;display:table;background:rgba(0, 0, 0, 0) url("../img/list_style.png") no-repeat scroll 5% 50%;}
.megamenu1 span a:hover{background:#eeeeee url("../img/list_style-hover-bg.png") no-repeat scroll 5% 50%;color:#555555;padding-left:23px;}
.d_menu span a:hover{background:#eeeeee url("../img/list_style-hover-bg.png") no-repeat scroll 8% 50%;color:#555555;padding-left:37px;}
.dropdown_mmenu:hover .megamenu{position:absolute;top:100%;opacity:1;visibility:visible;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.dropdown_menu:hover .d_menu{position:absolute;top:100%;opacity:1;visibility:visible;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;box-shadow:0px 0px 5px #e7e7e7;}
.mobi-menu{display:none;}
.only-for-mobile{display:none !important;}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a{margin:0;padding:0;border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#cssmenu{max-width:727px;width:100%;margin:50px auto;font-family:Helvetica, Arial, sans-serif;color:#ffffff;background:#f5f5f5;border:1px solid #dddddd;border-bottom:none;}
#cssmenu ul ul{display:none;}
.align-right{float:right;}
#cssmenu > ul > li > a{padding:15px 40px;cursor:pointer;z-index:2;font-size:14px;font-weight:bold;text-decoration:none;font-family:Cousine, Arial;text-transform:uppercase;color:#565656;background:#fff;border-bottom:1px solid #dddddd;}
#cssmenu > ul > li > a:hover{background:#f5f5f5 !important;}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.open > a{color:#565656;background:#fff;}
.holder{width:0;height:0;position:absolute;top:0;right:0;}
.holder:after{display:block;position:absolute;content:"";background:url('img/mega-menu-img/plus.png') no-repeat scroll 0% 0% transparent;width:22px;height:22px;right:40px;z-index:10;top:11px;border:1px solid transparent;background-position:50% 50%;border-radius:50%;}
#cssmenu > ul > li:hover .holder:after{border:1px solid #575757;}
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after{display:block;position:absolute;content:"";background:url('img/mega-menu-img/minus.png') no-repeat center;width:22px;height:22px;right:40px;z-index:10;top:11px;border:1px solid transparent;background-position:50% 50%;border-radius:50%;}
#cssmenu > ul ul > li.active > a > span::after,
#cssmenu > ul ul > li.open > a > span::after{display:block;position:absolute;content:"";background:url('img/mega-menu-img/minus.png') no-repeat center;width:22px;height:22px;right:40px;z-index:10;top:11px;border:1px solid tranparent;background-position:50% 50%;border-radius:50%;}
#cssmenu > ul > li.active > a > span:hover::after,
#cssmenu > ul > li.open > a > span:hover::after{border:1px solid #575757;}
#cssmenu ul ul li a{cursor:pointer;border-bottom:2px solid #fff;padding:15px 40px;z-index:1;text-decoration:none;color:#666666;font-size:14px;font-weight:bold;text-decoration:none;font-family:Cousine, Arial;text-transform:uppercase;background:#eeeeee;}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a{color:#cf4647;}
#cssmenu ul ul li:first-child > a{box-shadow:none;}
#cssmenu ul ul ul li:first-child > a{}
#cssmenu ul ul ul li a{padding-left:40px;}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a{border-bottom:0;}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a{border-bottom:1px solid #32373e;}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a{border-bottom:0;}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after{border-color:#ffffff;}
#cssmenu ul ul ul li a{cursor:pointer;border-bottom:0px;padding:10px 40px;z-index:1;text-decoration:none;color:#747474;font-size:14px;font-weight:400;text-decoration:none;font-family:Arial;text-transform:none;background:#f5f5f5;}
#cssmenu ul ul li.img-nav a{cursor:pointer;padding:0;z-index:1;text-decoration:none !important;font-size:13px;color:#EEE;background:none repeat scroll 0% 0% #49505A;box-shadow:none !important;}
#cssmenu ul ul li.img-nav , #cssmenu ul ul li.img-nav a{margin:0px;padding:0px;border:0px none;list-style:none outside none;line-height:1;display:inherit;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;}
.img-nav .container{width:100%;padding:0 40px;}
.img-nav .row{margin:0 -10px;}
.img-nav .col-md-6{padding:0 10px;}
.space20{margin-bottom:20px;}
#cssmenu ul ul li.open > a{color:#565656;background:#f5f5f5;border-bottom:0px;}
#cssmenu ul ul li.open ul{border-bottom:2px solid #fff;margin-top:-5px;}
#cssmenu ul ul li.open ul li:last-child a{padding-bottom:25px;}
.sub-nav li a{border-bottom:1px solid #eee !important;padding:11px 40px !important;font-weight:400 !important;text-transform:none !important;font-weight:300 !important;font-family:Arial !important;}
.sub-nav li:last-child a{border-bottom:1px solid #dddddd !important;}
#cssmenu{display:none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.only320{display:none !important;}
div#slider_rev .s-btn:hover{background:#555555 none repeat scroll 0 0 !important;color:#fff !important;border:2px solid #555555 !important;}
div#slider_rev .w-btn:hover{background:#fff none repeat scroll 0 0 !important;color:#555 !important;border:2px solid #fff !important;}
div#slider_rev .tp-bullets{bottom:32px !important;}
div#slider_rev .tparrows{display:none;}
.grid figure{min-width:100%;}
.single_product{overflow:hidden;}
.first_product_row .products{overflow:hidden;}
.first_product_row .single_product .grid{overflow:hidden;background:#C8C8C8;}
.first_product_row .single_product .grid .effect-julia{background:#C8C8C8;width:100%;}
.first_product_row .single_product .grid .effect-julia, .first_product_row .single_product .grid .effect-lexi, .first_product_row .single_product .grid .effect-lily{height:100%;width:100%;}
.first_product_row .single_product .grid .effect-julia > figcaption > h1{color:#FFF;font-weight:600;left:56%;top:32%;font-size:40px;display:inline-block;border-bottom-color:#FFF;border-bottom-style:solid;border-bottom-width:1.81818175315857px;border-image-outset:0px;border-image-repeat:stretch;border-image-slice:100%;border-image-source:none;border-image-width:1;border-left-color:#FFF;border-left-style:solid;border-left-width:1.81818175315857px;border-right-color:#FFF;border-right-style:solid;border-right-width:1.81818175315857px;border-top-color:#FFF;border-top-style:solid;border-top-width:1.81818175315857px;box-sizing:border-box;padding:20px 25px;}
.first_product_row .single_product .grid .effect-julia > figcaption > h1 > span{font-weight:700;color:#555555;font-size:45px;}
.first_product_row figure.effect-julia p{font-size:16px;font-weight:600;color:#888888;text-transform:uppercase;-webkit-transform:translate3d(-500px, 0px, 0px);-ms-transform:translate3d(-500px, 0px, 0px);-o-transform:translate3d(-500px, 0px, 0px);transform:translate3d(-500px, 0px, 0px);}
.first_product_row figure.effect-julia:hover p{opacity:1;-webkit-transform:translate3d(125%, 380%, 0px);-ms-transform:translate3d(125%, 380%, 0px);-o-transform:translate3d(125%, 380%, 0px);transform:translate3d(125%, 380%, 0px);}
.first_product_row .single_product .grid .effect-lexi > img{margin:0;}
.first_product_row .single_product .grid figure.effect-lexi figcaption::before{top:-44%;}
.first_product_row .single_product .grid figure.effect-lexi:hover figcaption::before{background:none repeat scroll 0 0 #fff;opacity:0.7;}
.first_product_row .single_product .grid .effect-lexi > figcaption > h2{color:#888888;font-size:36px;font-weight:700;left:-6px;position:absolute;text-align:center;text-transform:uppercase;top:57.5%;width:100%;}
.first_product_row .single_product .grid .effect-lexi > figcaption > p{color:#666666;display:inline;font-size:15px;font-weight:700;position:absolute;right:5%;top:15%;width:55%;}
.first_product_row .single_product .grid .effect-lexi a{background:none repeat scroll 0 0 transparent;top:43%;color:#555555;display:inline-block;font-size:25px;font-weight:700;opacity:0.9;padding:0.4em 1em;position:absolute;text-indent:0;text-transform:uppercase;-moz-transform:translate3d(0%, 147%, 0px);-webkit-transform:translate3d(0%, 147%, 0px);-o-transform:translate3d(0%, 147%, 0px);-ms-transform:translate3d(0%, 147%, 0px);transform:translate3d(0%, 147%, 0px);-webkit-transition:opacity 0s ease 0s, transform 0.35s ease 0s;-moz-transition:opacity 0s ease 0s, transform 0.35s ease 0s;-o-transition:opacity 0s ease 0s, transform 0.35s ease 0s;transition:opacity 0s ease 0s, transform 0.35s ease 0s;width:100%;z-index:999;height:auto;overflow:hidden;}
.second_product_row .single_product .grid .effect-honey, .second_product_row .single_product .grid .effect-steve, .grid figure img{width:100%;}
.second_product_row{overflow:hidden;}
.second_product_row .effect-honey{background:#e1e3e4 none repeat scroll 0 0;}
.second_product_row .effect-honey i{color:#666666;font-size:20px;}
.second_product_row .effect-honey > figcaption > h2{position:absolute;text-align:center;top:80%;-moz-transform:translate3d(0px, -50%, 0px);-webkit-transform:translate3d(0px, -50%, 0px);-ms-transform:translate3d(0px, -50%, 0px);-o-transform:translate3d(0px, -50%, 0px);transform:translate3d(0px, -50%, 0px);width:100%;}
.second_product_row .effect-honey > figcaption > p{font-size:25px;font-weight:700;text-transform:uppercase;-webkit-transform:translate3d(0px, 10px, 0px);-moz-transform:translate3d(0px, 10px, 0px);-ms-transform:translate3d(0px, 10px, 0px);-o-transform:translate3d(0px, 10px, 0px);transform:translate3d(0px, 10px, 0px);}
.second_product_row figure.effect-honey figcaption::before{height:0px;}
.second_product_row .effect-steve{background:none;}
.second_product_row .effect-steve > figcaption{height:100%;position:absolute;width:40%;-webkit-transform:translate3d(150%, 0%, 0px);-ms-transform:translate3d(150%, 0%, 0px);-o-transform:translate3d(150%, 0%, 0px);transform:translate3d(150%, 0%, 0px);}
.second_product_row .effect-steve > figcaption > h2{color:#555555;right:-7%;top:5%;}
.second_product_row .effect-steve > figcaption > p{color:#888888;font-size:25px;font-weight:600;left:43px;position:absolute;}
.third_product_row figure > img{opacity:1;}
.third_product_row .effect-winston img{width:100%;}
.third_product_row figure.effect-winston figcaption::before{display:none;}
.third_product_row figure.effect-winston:hover figcaption::before{background:url("../img/triangle.svg") no-repeat scroll center center/100% 100% rgba(0, 0, 0, 0);content:"";height:100%;left:0;position:absolute;top:-100%;transform:rotate3d(0, 0, 1, 45deg);transform-origin:0 108% 0;transition:opacity 0.45s ease 0s, transform 0.45s ease 0s;width:100%;display:block;}
.third_product_row .effect-winston h2{-webkit-transform:translate3d(64%, 566%, 0px);-ms-transform:translate3d(64%, 566%, 0px);-o-transform:translate3d(64%, 566%, 0px);transform:translate3d(64%, 566%, 0px);color:#888888;}
.third_product_row .effect-winston:hover h2{color:#fff;}
.third_product_row .effect-winston h2 span{color:#555555;display:block;font-size:25px;font-weight:700;-webkit-transform:translate3d(-10%, 5%, 0px);-ms-transform:translate3d(-10%, 5%, 0px);-o-transform:translate3d(-10%, 5%, 0px);transform:translate3d(-10%, 5%, 0px);}
.third_product_row .effect-winston:hover h2 span{color:#fff;}
.third_product_row .effect-winston figcaption p{color:#666666;font-size:15px;font-weight:700;height:10%;top:7%;width:30%;right:-4%;display:none;}
.third_product_row .effect-winston:hover figcaption p{display:block;}
.half_row{overflow:hidden;}
.half_row .effect-julia > img{width:100%;}
.half_row .effect-julia > figcaption > h2{color:#fff;font-size:30px;font-weight:700;}
.half_row.half_last_row h3{bottom:14px;color:#555555;left:0;line-height:30px;position:absolute;text-align:center;width:100%;}
.half_row.half_last_row .effect-julia:hover h3{color:#fff;}
.third_product_row .effect-moses:hover h2, .third_product_row .effect-moses h2{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:28px;font-weight:700;height:25%;left:27px;padding:11px;position:absolute;top:34%;width:50%;}
.third_product_row .effect-moses:hover h2{color:#fff}
.third_product_row .effect-moses:hover p, .third_product_row .effect-moses p{color:#555555;font-size:25px;font-weight:700;height:25%;overflow:hidden;padding:44px 10px 10px;position:absolute;right:26px;text-align:left;top:50%;width:50%;}
.third_product_row .effect-moses:hover h2, .third_product_row .effect-moses:hover p{color:#fff}
.footer_slider{border-top:1px solid #f1eff4;padding-bottom:40px;padding-top:40px;}
body#index_two .footer_slider, body#index_three .footer_slider{border-top:none;margin-top:0px;}
.footer_top_area{background:none repeat scroll 0 0 #f7f7f7;padding:60px 0;}
.footer_top{overflow:hidden;}
.footer_top_widget h4{color:#555555;}
.footer_top_widget > p{font-size:13px;color:#666666;}
.social_icons > li{float:left;margin-right:12px;margin-bottom:12px;}
.social_icons a{border:1px solid #dddddd;display:block;padding:2px 6px 0px 6px;text-align:center;}
.social_icons a.add_cart_btn{color:#666666;font-size:14px;font-weight:700;padding:9.5px 13px;}
.social_icons i{color:#888888;font-size:18px;width:20px;height:20px;}
.latest_tweet{overflow:hidden;}
.latest_tweet i{display:inline-block;float:left;font-size:20px;margin-right:10px;min-height:54px;padding-top:4px;}
.latest_tweet p{color:#666666;float:right;font-size:13px;}
.footer_top_widget input{display:inline-block;padding:9px;width:71%;border:1px solid #dddddd;}
.footer_top_widget .btn{border:0 none;margin-bottom:4px;}
.footer_bottom{overflow:hidden;padding:50px 0 30px 0;}
.footer_bottom .logo{float:none;margin-bottom:5px;padding:0 0 13px;width:100%;}
.footer_widget h4{margin-bottom:29px;overflow:hidden;position:relative;}
.footer_bottom_area{background:none repeat scroll 0 0 #f7f7f7;margin-top:30px;}
.footer_widget > ul > li{border-bottom:1px solid #ececec;color:#666666;font-size:13px;line-height:40px;overflow:hidden;}
.footer_widget > ul > li:last-child{border-bottom:none;}
.footer_widget > ul > li.no_border{border-bottom:none;}
.footer_widget .special_widget > li{border-bottom:medium none;margin-bottom:15px;line-height:20px;}
.footer_widget > ul > li > i{float:left;font-size:20px;margin-right:17px;min-height:40px;padding-top:3px;}
.footer_widget > ul > li > a{color:#666666;font-size:13px;}
.footer_widget > ul > li > a:hover{color:#000;}
.footer_widget > ul > li > a > i, .footer_widget > ul > li > span > i{margin-right:10px;}
.payment{margin-top:15px;margin-bottom:80px;}
.payment > a{display:inline-block;margin-right:5px;border:1px solid #DDD;}
.footer_copyright_area{background:#FFFFFF;padding:20px 0 10px 0;}
.copyright > p{color:#666666;font-size:13px;margin:0;}
.copyright a{color:#444444;font-weight:600;}
.footer_menu .footer_nav > ul{float:right;}
.footer_menu .footer_nav > ul > li{float:left;}
.footer_menu .footer_nav > ul > li > a{border-right:1px solid #e4e4e4;color:#666666;display:inline-block;font-size:13px;line-height:10px;padding:0 11px;margin:0;text-transform:none;font-weight:400;}
.footer_menu .footer_nav > ul > li:last-child a{padding-right:0px;border-right:none;}
.footer_menu .footer_nav > ul > li > a:hover{color:#000;}
.new_featured_sales{margin-bottom:30px;overflow:hidden;margin-top:20px;}
.new_featured_sales .nav-tabs > li, .new_featured_sales .nav-pills > li, .product_item_details .nav-tabs > li, .product_item_details .nav-pills > li{float:none;display:inline-block;*display:inline;zoom:1;margin:0 10px;}
.new_featured_sales .nav-tabs > li > a, .new_featured_sales .nav-pills > li > a, .product_item_details .nav-tabs > li > a, .product_item_details .nav-pills > li > a{border:1px solid #dddddd;border-radius:0;color:#dddddd;font-size:14px;font-weight:700;margin:0;text-transform:uppercase;}
.new_featured_sales .nav-tabs > li.active > a, .product_item_details .nav-tabs > li.active > a{border:1px solid #dddddd;color:#555555;margin:0;}
.new_featured_sales .nav-tabs > li > a:hover, .new_featured_sales .nav-pills > li > a:hover, .product_item_details .nav-tabs > li > a:hover, .product_item_details .nav-pills > li > a:hover, .upsell_products a.btn:hover{background:none;color:#555555;border:1px solid #666666;}
.new_featured_sales .nav-tabs, .new_featured_sales .nav-pills, .product_item_details .nav-tabs, .product_item_details .nav-pills{background:#fff none repeat scroll 0 0;border:medium none;margin:0 auto 30px;position:relative;text-align:center;width:30%;}
.new_featured_sales .border{position:relative;}
.new_featured_sales .border::before{border-top:1px solid #dddddd;content:"";height:0.5px;left:0;position:absolute;top:50%;width:100%;}
.new_featured_sales .single_tab_content, .category_products .single_tab_content{overflow:hidden;margin-bottom:20px;}
.category_products .single_tab_content{margin-bottom:20px;}
.discount{background:transparent;border-radius:50%;height:30%;right:0;top:-16px;width:60%;}
.single_tab_content .discount::before{background:#fff none repeat scroll 0 0;border-radius:50%;color:#aaaaaa;content:"Sale !!";font-size:12px;font-weight:700;height:90%;left:27%;padding-right:25px;padding-top:35%;position:absolute;text-align:center;text-transform:uppercase;top:-16%;width:100%;}
.single_tab_content figure.effect-lexi figcaption::before{background:#fff none repeat scroll 0 0;border-radius:50%;bottom:12%;box-shadow:0 0 0 10px rgba(255, 255, 255, 0.2);left:30%;transform:rotate(136deg);-webkit-transform:rotate(136deg);-ms-transform:rotate(136deg);-o-transform:rotate(136deg);transform:rotate(136deg);width:130px;}
body#index_two .single_tab_content figure.effect-lexi figcaption::before, body#index_three .single_tab_content figure.effect-lexi figcaption::before, body#gird_page .single_tab_content figure.effect-lexi figcaption::before{background:#fff none repeat scroll 0 0;border-radius:90px 90px 0 0;bottom:20%;box-shadow:0 0 0 10px rgba(255, 255, 255, 0.2);left:30%;width:130px;-webkit-transition:0.5s;-o-transition:0.5s;transition:0.5s;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
body#index_three .single_tab_content figure.effect-lexi figcaption::before{bottom:18%;}
body#index_two .single_tab_content figure.effect-lexi figcaption::before{bottom:18%;}
body#gird_page .single_tab_content figure.effect-lexi figcaption::before{bottom:24%;}
body#index_two .single_tab_content.hover figure.effect-lexi figcaption:before, body#index_three .single_tab_content.hover figure.effect-lexi figcaption:before{background:#666666;}
body#gird_page .single_tab_content.hover figure.effect-lexi figcaption:before{background:#666666;}
body#index_two .tab-content .single_tab_content .add_to_cart:hover, body#index_three .tab-content .single_tab_content .add_to_cart:hover{color:#fff;}
body#gird_page .category_products .single_tab_content .add_to_cart:hover{color:#fff;}
.category_products .single_tab_content figure.effect-lexi figcaption::before{bottom:10%;}
.single_tab_content .add_to_cart{bottom:13%;color:#aaaaaa;font-size:13px;font-weight:700;left:30%;padding:22px;position:absolute;text-align:center;text-transform:uppercase;width:43%;opacity:0;}
figure.effect-lexi:hover .add_to_cart{opacity:1;}
body#index_two .single_tab_content figure.effect-lexi .add_to_cart, body#index_three .single_tab_content figure.effect-lexi .add_to_cart, body#gird_page .single_tab_content figure.effect-lexi .add_to_cart{bottom:18%;color:#aaaaaa;font-size:13px;font-weight:700;left:31%;padding:15px 25px 14px;position:absolute;text-align:center;text-transform:uppercase;width:42%;}
body#index_two .tab-content .single_tab_content .favourite > a:hover, body#index_three .single_tab_content.hover figure.effect-lexi figcaption:before, body#gird_page .single_tab_content.hover figure.effect-lexi figcaption:before{background:#666666;color:#fff;}
body#index_two .single_tab_content.hover figure.effect-lexi figcaption:before, body#index_three .single_tab_content.hover figure.effect-lexi figcaption:before, body#gird_page .single_tab_content.hover figure.effect-lexi figcaption:before{background:#666666;color:#fff;}
body#gird_page .category_products .single_tab_content figure.effect-lexi .add_to_cart{bottom:22.5%;}
.single_tab_content .favourite{padding:0;position:absolute;right:6%;text-align:center;top:30%;width:15%;}
.single_tab_content .favourite > a{background:#fff none repeat scroll 0 0;border-radius:50%;color:#aaaaaa;display:inline-block;font-size:13px;height:35px;margin-bottom:15px;padding-top:9px;text-align:center;width:35px;}
.single_tab_content .favourite > a:hover{background:#666666;color:#fff;}
.product_description > a{color:#666666;font-size:13px;margin-bottom:0px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.product_description > .price{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:12px;margin-top:-5px;}
.star{}
div.star i{color:#666666;font-size:15px;}
.price > p{margin:0;}
.old_price{color:#cccccc;margin-right:5px;text-decoration:line-through;}
.single_tab_content .product_description{position:relative;z-index:2;}
.our_supports{overflow:hidden;}
.our_supports .supports_icon{float:left;margin-bottom:31px;margin-right:18px;}
.our_supports .supports_content{overflow:hidden;}
.supports_content > p{color:#888888;font-size:13px;margin-bottom:0;margin-top:12px;}
.supports_icon > a{border:1px solid #888888;border-radius:50%;display:inline-block;height:70px;text-align:center;width:70px;}
.single_supports:hover a{background:#666666;}
.single_supports:hover i{color:#fff;}
.supports_icon i{font-size:25px;padding-top:22px;text-align:center;color:#aaaaaa;}
.latest_post{margin-top:0px;overflow:hidden;}
.latest_post .section_title{margin-bottom:30px;text-align:center;}
.latest_post .grid figure{overflow:visible;}
body#index_two .single_latest_post .effect-honey > a, body#index_three .single_latest_post .effect-honey > a{position:relative;z-index:999;}
.latest_post .section_title > h4{border:1px solid #aaaaaa;color:#555555;display:inline-block;padding:13px 18px;position:relative;text-align:center;}
.latest_post .section_title > h4::before{border-top:1px solid #eeeeee;content:"";left:114%;position:absolute;top:50%;width:500px;}
.latest_post .section_title > h4::after{border-top:1px solid #eeeeee;content:"";position:absolute;right:105%;top:50%;width:510px;}
.latest_post .effect-honey{margin-bottom:0px;}
.latest_post .product-description{height:100%;overflow:hidden;width:100%;}
.latest_post figure figcaption h6{background:none repeat scroll 0 0 #666666;bottom:-24px;color:#fff;display:inline-block;height:50px;padding:7px;position:absolute;right:100%;text-align:center;-webkit-transition:0.5s;-o-transition:0.5s;transition:0.5s;width:50px;z-index:1000;}
.latest_post figure:hover figcaption h6{right:0;}
.latest_post figure:hover figcaption h6{background:#666666;color:#fff;}
.latest_post figure.effect-honey{background:none repeat scroll 0 0 #dde5e7;}
.latest_post figure.effect-honey figcaption::before{background:none;}
.latest_post .product-description p > a{border-right:1px solid #cfcfcf;color:#666666;font-size:10px;line-height:10px;margin:8px 0;padding:0 10px;text-transform:none;}
.latest_post .product-description p > a:last-child{border-right:none;}
.latest_post .product-description p > a:first-child{padding-left:0px;}
.latest_post .product-description p > a > span{color:#aaaaaa;}
.latest_post .product-description > a{color:#555555;display:block;font-size:16px;margin-top:8px;text-align:left;text-transform:uppercase;font-family:"Open Sans",sans-serif;font-weight:700;}
.latest_post .product-description > p{color:#666666;font-size:14px;line-height:25px;margin-top:9px;text-align:left;margin-bottom:0px;}
.breadcrumb_main_area{background:url("../img/Contact_breadcumb.png") no-repeat center center/cover #000000;overflow:hidden;text-align:center;position:relative;}
.breadcrumb_main_area > .overlay{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.4);height:100%;position:absolute;width:100%;z-index:1;}
.breadcrumb_main{padding:100px 0;position:relative;z-index:2;}
.breadcrumb_main h2{color:#fff;line-height:33px;margin-bottom:8px;}
.breadcrumb_main > .breadcrumb > li > a{font-size:14px;line-height:20px;}
.contact_google_map_area{text-align:center;}
.contact_google_map > h4{font-size:25px;color:#555555;}
.contact_google_map > p{font-size:14px;color:#666666;margin-bottom:38px;}
.contact_mail_area .section_title > h4{font-size:20px;color:#555555;}
.contact_info > p{font-size:13px;color:#666666;line-height:22px;margin-top:25px;margin-bottom:28px;}
.contact_info > ul > li{border-bottom:medium none;line-height:20px;margin-bottom:24px;font-size:13px;color:#666666;}
.contact_info > ul > li:last-child{margin-bottom:0px;}
.contact_info > ul > li > i{float:left;font-size:20px;margin-right:17px;min-height:40px;padding-top:3px;}
.contact_mail_area .contact_info a{color:#666;line-height:25px;}
.send_mail > .section_title > h4{font-size:20px;color:#555555;margin-bottom:26px;}
.send_mail input, textarea{border:1px solid #e0e1e5;color:#666666;display:inline;font-size:14px;line-height:20px;padding:20px;margin-bottom:5px;}
.send_mail input[type="text"], .send_mail input[type="email"]{width:47.3%;}
.send_mail input[type=text]{margin-right:25px;}
.send_mail input[type="e-mail"]{}
.send_mail textarea{width:100%;}
.welcome{margin-bottom:81px;overflow:hidden;}
.welcome .section_title{margin-bottom:54px;text-align:center;}
.welcome .section_title > h4{color:#555555;font-size:20px;font-weight:700;line-height:28px;position:relative;display:inline-block;}
.welcome .section_title > h4:after{border-bottom:3px solid #dddddd;content:"";height:3px;left:38%;position:absolute;text-align:center;top:44px;width:30%;}
.welcome p{color:#666666;font-size:13px;line-height:23px;}
.welcome p:first-child{margin-bottom:14px;}
.welcome p:last-child{margin:0px;}
.who_we_are .section_title{margin-bottom:32px;}
.who_we_are .section_title h4{color:#555555;font-size:20px;font-weight:700;}
.accordion_one h4{font-size:25px;}
a:focus{outline:none}
a:hover, a:active, a:visited, a:focus{text-decoration:none}
.another_accordion{padding-top:20px;}
.another_accordion h3{border:1px solid #dddddd;font-family:arial;font-size:22px;margin-bottom:10px;position:relative;}
.another_accordion h3.open{}
.another_accordion h3 a:before{background:none repeat scroll 0 0 #666666;color:#fff;content:"+";height:40px;left:0;padding-top:8px;position:absolute;text-align:center;top:0;width:40px;font-size:25px;font-weight:300;}
.another_accordion h3.open a:before{content:"-";background:#666666;}
.another_accordion h3 a{color:#666666;display:block;font-size:14px;font-weight:600;padding:8px 0 8px 50px;position:relative;}
.another_accordion > div{font-size:13px;color:#666666;line-height:25px;margin-bottom:34px;}
.another_accordion .fa-plus{display:inline-block}
.another_accordion h3.open .fa-plus{display:none}
.another_accordion .fa-minus{display:none}
.another_accordion h3.open .fa-minus{display:inline-block}
.plus_minus{background:none repeat scroll 0 0 #000;color:#fff;display:inline-block;height:30px;padding-top:3px;text-align:center;width:30px;}
.skill_progress_bar{padding-top:50px;}
.skill_progress_bar .progress{position:relative;background:url(img/progress-bg-part.png);overflow:visible;margin-bottom:82px;}
.skill_progress_bar .progress:last-child{margin-bottom:0px;}
.skill_progress_bar .progress-bar{background:-webkit-linear-gradient(#bababa, #565656);background:-o-linear-gradient(#bababa, #565656);background:-moz-linear-gradient(#bababa, #565656);background:linear-gradient(#bababa, #565656);}
.skill_progress_bar .skill_name{color:#555555;font-size:16px;font-weight:600;left:0;line-height:22px;position:absolute;text-transform:uppercase;top:-35px;z-index:10;}
.skill_progress_bar .skill_percent{border:1px solid #dfdfdf;border-radius:50%;color:#333333;font-size:15px;height:35px;padding-top:6px;position:absolute;text-align:center;top:-47px;width:35px;}
.skill_progress_bar .skill_percent.photoshop{left:80%;}
.skill_progress_bar .skill_percent.html{left:90%;}
.skill_progress_bar .skill_percent.wordpress{left:85%;}
.skill_progress_bar .skill_percent.magento{left:95%;}
.crazy_team{text-align:center;}
.crazy_team .team_members{margin-bottom:70px;margin-top:50px;overflow:hidden;}
.crazy_team .section_title > h4{color:#555555;font-size:20px;font-weight:700;line-height:28px;position:relative;display:inline-block;}
.crazy_team .section_title > h4:after{border-bottom:3px solid #dddddd;content:"";height:3px;left:38%;position:absolute;text-align:center;top:44px;width:30%;}
.team_members h4{color:#333333;font-size:18px;line-height:28px;margin-top:20px;}
.team_members p{color:#666666;font-size:13px;line-height:18px;margin:0;text-transform:uppercase;}
.our_blog_area .our_blog{overflow:hidden;padding-bottom:90px;}
.sidebar_widget{overflow:hidden;}
.our_blog .sidebar_widget{margin-bottom:25px;margin-top:0;width:100%;}
.blog_sidebar .widget_title > h4{border-bottom:1px solid #dddddd;color:#555555;font-size:18px;font-weight:700;line-height:28px;margin-bottom:5px;padding-bottom:9px;}
.sidebar_widget > ul > li{background:url("../img/list_style.png") no-repeat scroll 0 13px rgba(0, 0, 0, 0);border-bottom:1px dashed #dddddd;padding:0px 0 0px 15px;}
.sidebar_widget > ul > li:last-child, .side_post > ul > li:last-child{border-bottom:none;}
.sidebar_widget > ul > li >a{color:#555555;display:inline-block;font-size:12px;}
.sidebar_widget > ul > li >a:hover{color:#000;}
.side_post > ul > li > a{color:#666666;display:inline-block;font-size:12px;}
.side_post > ul > li{border-bottom:1px dashed #dddddd;padding:14px 0 11px;}
.side_post p{color:#666666;font-size:13px;margin-bottom:7px;margin-top:5px;}
.side_post p > a{color:#555555;font-size:12px;}
.tags_widget{margin-top:28px;}
a.tag{border:1px solid #dddddd;color:#888888;display:inline-block;font-size:13px;margin:0 4px 9px 0;padding:10px 15px;}
a.tag:hover, .social_icons > li > a:hover{background:#555555;color:#fff;}
.social_icons > li > a:hover i{color:#fff;}
.sidebar_image_gallery{margin-top:30px;}
.sidebar_image_gallery > a{display:inline-block;margin:0 4px 8px 0;}
.post_content > img{margin-bottom:34px;}
.single_post .post_title, .single_bloglist_post .post_title{color:#555555;font-size:22px;text-transform:none;}
.single_post .post_content, .single_bloglist_post .post_content{overflow:hidden;}
.single_post .post_thumbnail, .single_bloglist_post .post_thumbnail{margin-bottom:32px;}
.single_post .post_thumbnail a, .single_bloglist_post .post_thumbnail a{display:block;}
.post_info a{color:#555555;display:inline-block;font-size:13px;margin-top:14px;}
.single_post p, .blog_article p{color:#666666;font-size:14px;line-height:22px;margin-bottom:33px;}
.blog_tag_social{border-top:1px solid #dddddd;margin-top:20px;padding-top:28px;margin-left:15px;margin-right:15px;}
.tag_share > p{display:inline-block;margin-bottom:0;}
.tag_share span{color:#434343;font-size:14px;margin-right:13px;}
.tag_share a{color:#666666;font-size:13px;}
.social_share{display:inline-block;float:right;}
.social_share > li{float:left;margin-right:27px;}
.social_share > li:last-child{margin-right:0px;}
.social_share i{color:#666666;font-size:18px;-webkit-transition:0.5s;-o-transition:0.5s;transition:0.5s;}
.social_share i:hover{color:#000;}
.comment_section{margin-top:56px;overflow:hidden;}
.comment_section h4{color:#666666;font-size:18px;font-weight:700;margin-bottom:32px;}
.comment_section h4 > a > span{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;color:#666666;font-size:18px;font-weight:700;}
.comment_section .section_title h5{color:#555555;font-size:15px;line-height:28px;font-weight:600;}
.comment_section .breadcrumb a{color:#555555;font-size:12px;}
.comment_section .breadcrumb li.active a{color:#aaaaaa;}
.comment_section .breadcrumb > li + li::before{color:#aaaaaa;content:"/";}
.comment_section p{border-bottom:1px solid #e7e7e7;margin-bottom:0;margin-top:15px;padding-bottom:30px;}
.double_comment{overflow:hidden;padding:35px 0;border-bottom:1px solid #e7e7e7;}
.double_comment p{padding:0;border:none;}
.double_comment .commentator_img{margin-right:15px;}
.comment_section:last-child p{border-bottom:none;}
.leave_comment{margin-top:25px;overflow:hidden;}
.leave_comment .section_title{margin-bottom:43px;}
.comment_form > input, .comment_form > textarea{border:1px solid #e0e1e5;color:#666666;font-size:14px;}
.comment_form > input{margin-left:25px;padding:16px;width:31%;}
.comment_form > input:first-child{margin:0;}
.comment_form > input[type=website]{margin-right:0px;}
.comment_form > textarea{padding:16px;width:100%;margin-top:30px;}
.blog_list .single_bloglist_post{border-bottom:1px solid #dddddd;padding:45px 0;}
.blog_list .single_bloglist_post.first_bloglist{padding-top:0px;padding-bottom:45px;}
.blog_article p{margin-bottom:18px;margin-top:15px;}
.pagination_area .pagination{margin:45px 0px 0px;}
.pagination_area .pagination > li > a, .pagination_area .pagination > li > span{border-radius:0px;}
.pagination_area .pagination > li > a{background:#f1f1f1 none repeat scroll 0 0;color:#555555;font-size:13px;height:33px;margin-right:8px;padding:7px 0;text-align:center;width:33px;border:none;display:inline-block;}
.pagination_area .pagination > li > a:hover, .pagination_area .pagination > li.active a{background:#666666;color:#fff;}
.pagination_area .pagination > li > a i{font-size:13px;color:#bbbbbb;-webkit-transition:0.5s;-o-transition:0.5s;transition:0.5s;}
.pagination_area .pagination > li > a:hover i{background:#666666;color:#fff;}
.category{overflow:hidden;margin-bottom:80px;}
.category_sidebar .sidebar_widget, .sub_widget.badge_widget{margin-bottom:30px;}
.category_sidebar .sidebar_widget h6, .sub_widget.badge_widget .widget_title,.category_sidebar .sidebar_widget .widget_title{line-height:30px;margin-bottom:11px;}
.category_sidebar .panel-default > .panel-heading{background:rgba(0, 0, 0, 0) url("../img/list_style.png") no-repeat scroll 0 17px;padding-bottom:10px;padding-top:7px;}
.category_sidebar .panel-body li, .sub_widget.badge_widget li{background:rgba(0, 0, 0, 0) url("../img/list_style.png") no-repeat scroll 0 15px;padding-bottom:8px;padding-top:7px;padding-left:15px;}
.sub_widget.badge_widget li{padding-top:15px;padding-bottom:10px;background:rgba(0, 0, 0, 0) url("../img/list_style.png") no-repeat scroll 0 23px;}
.category_sidebar .panel-group .panel, .category_sidebar .panel-heading, .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{border-radius:0px;border:none;}
.category_sidebar .panel-group .panel, .sub_widget.badge_widget li{border-bottom:1px solid #f4f4f4;}
.category_sidebar .panel-group .panel.panel-default:last-child, .sub_widget.badge_widget li:last-child{border-bottom:none;}
.category_sidebar .panel{box-shadow:none;}
.category_sidebar .panel-title > a, .category_sidebar .panel-body a, .sub_widget.badge_widget li a{display:block;font-size:13px;font-weight:400;text-transform:none;color:#666666;}
.category_sidebar .panel-title > a > span{float:right;}
.sub_widget.badge_widget .badge{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;color:#dddddd;float:right;font-weight:400;}
.category .sidebar_image_gallery{margin-top:20px;}
.sidebar_image_gallery > p{color:#666666;font-size:14px;margin-bottom:38px;}
.category_products{margin-top:10px;}
.grid_view, .list_view{margin-bottom:35px;overflow:hidden;}
.list_view{margin-bottom:29px;}
.sorting select{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:medium none;color:#666666;cursor:pointer;display:inline-block;font-size:14px;font-weight:400;margin:0;outline:medium none;padding:5px 150px 5px 5px;text-align:center;width:100%;}
.category_area .single_product_image{margin-top:-34px;}
@media screen and (-webkit-min-device-pixel-ratio:0){select{padding-right:18px}
}
.sorting{display:inline-block;}
.sorting label{position:relative;display:inline-block;text-align:center;border:1px solid #dddddd;margin-bottom:0px;}
.sorting label:after{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);color:#aaa;content:">";font:15px "Consolas",monospace;padding:0 0 2px;pointer-events:none;position:absolute;right:20px;top:9px;}
.sorting option{border:0;outline:0;text-align:center;}
.sorting_view > a{border:1px solid #dddddd;display:inline-block;height:40px;margin-left:7px;text-align:center;width:45px;}
.sorting_view > a > i{color:#666666;font-size:25px;line-height:40px;}
.sorting_view > a > i.deactive{color:#dddddd;}
.single_list_product{border-top:1px solid #f4f4f4;overflow:hidden;padding:30px 0;border-bottom:1px solid #f4f4f4;}
.single_list_product:last-child{border-bottom:none;}
.single_list_image .single_tab_content, .single_list_image .single_tab_content figure, .upsell_products_carousel .single_tab_content figure{margin-bottom:0px;}
.single_list_details .product_description > a, .single_product_description > h6{color:#666666;font-size:24px;font-weight:400;line-height:30px;margin-bottom:11px;display:block;}
.product_detail{padding:25px 0;margin:0;}
.product_detail > p, .single_product_image .product_detail > p{color:#666666;font-size:14px;margin:0;}
.single_list_image figure.effect-lexi figcaption::before, .upsell_products_carousel figure.effect-lexi figcaption::before{top:-8%;left:-9%;}
.single_list_image .single_tab_content .add_to_cart, .upsell_products_carousel .single_tab_content .add_to_cart{display:inline-block;height:10%;left:-8%;margin:0;padding:0 20px;text-align:center;top:10%;width:50%;}
.single_product_page .price p{margin-bottom:28px;margin-top:0px;}
.single_product_page .old_price{color:#cccccc;font-size:16px;}
.single_product_page .new_price{color:#666666;font-size:16px;}
.single_product_page .availablity{color:#444444;font-size:13px;line-height:25px;padding-top:8px;}
.color_size{overflow:hidden;}
.cart_fav .social_icons > li{margin-left:0;margin-right:0;}
.product_social .social_icons a{border-radius:50%;padding:10px 11px;}
.elastislide-list{list-style-type:none;display:none;}
.no-js .elastislide-list{display:block;}
.elastislide-carousel ul li{min-width:20px;}
.elastislide-wrapper{position:relative;margin:0 auto;min-height:40px;}
.elastislide-wrapper.elastislide-loading{background-image:url(img/loading.gif);background-repeat:no-repeat;background-position:center center;}
.elastislide-horizontal{padding:4px 36px;}
.elastislide-vertical{padding:36px 4px;}
.elastislide-carousel{overflow:hidden;position:relative;}
.elastislide-carousel ul{position:relative;display:block;list-style-type:none;padding:0;margin:0;-webkit-backface-visibility:hidden;-webkit-transform:translateX(0px);-moz-transform:translateX(0px);-ms-transform:translateX(0px);-o-transform:translateX(0px);transform:translateX(0px);}
.elastislide-horizontal ul{white-space:nowrap;font-size:0pt;}
.elastislide-carousel ul li{margin:0;-webkit-backface-visibility:hidden;}
.elastislide-horizontal ul li{height:100%;display:inline-block;padding:3px;}
.elastislide-vertical ul li{display:block;}
.elastislide-carousel ul li a{display:block;outline:none;border:4px solid #fff;transition:border-color .2s ease-in , background-color .2s ease-in;box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);}
.elastislide-carousel ul li a img{display:block;max-width:100%;border:none;}
.elastislide-carousel ul li.active a{border:4px solid #f60;}
.elastislide-horizontal nav span{position:absolute;background-image:url(img/nav-h1.gif);width:19px;height:33px;text-indent:-9000px;cursor:pointer;background-position:-8px center;background-repeat:no-repeat;}
.elastislide-horizontal nav span{top:50%;left:10px;margin-top:-16px;}
.elastislide-horizontal nav span.elastislide-next{right:10px;left:auto;background-position:-128px center;}
.elastislide-horizontal nav span:hover{background-position:-48px center;}
.elastislide-horizontal nav span.elastislide-next:hover{background-position:-88px center;}
.gc-display-area{border:none;}
.glass-case ul li{border:none;}
.product_item_details{padding-right:15px;}
.upsell_products{padding-left:15px;padding-right:15px;}
.product_item_details .nav.nav-tabs{text-align:left;width:100%;}
.product_item_details .nav-tabs > li, .product_item_details .nav-pills > li{float:left;margin:0 10px 0 0;}
.product_item_details p{color:#666666;font-size:14px;line-height:22px;}
.upsell_products .single_tab_content .add_to_cart{left:-5%;top:6%;}
.upsell_products .owl-nav .owl-prev, .upsell_products .owl-nav .owl-next{background:#dddddd none repeat scroll 0 0;color:#fff;height:40px;text-align:center;width:40px;}
.upsell_products .owl-nav .owl-prev:hover, .upsell_products .owl-nav .owl-next:hover{background:#666;color:#fff;}
.upsell_products .owl-nav .owl-prev{left:0.5%;position:absolute;top:32%;z-index:5;}
.upsell_products .owl-nav .owl-next{right:0.5%;position:absolute;top:32%;z-index:5;}
.upsell_products .owl-nav .owl-prev i, .upsell_products .owl-nav .owl-next i{color:#fff;font-size:25px;line-height:160%;}
.upsell_products .product_description{margin-top:17px;}
.upsell_products .price > p, .upsell_products .star{margin:0;}
.upsell_products .old_price, .upsell_products .new_price{font-size:15px;}
.upsell_products a.btn{border:1px solid #aaaaaa !important;margin-bottom:30px;}
.various_address input{font-size:15px;font-weight:700;line-height:18px;margin-bottom:15px;padding:15px;text-transform:uppercase;width:100%;}
.various_address input, .various_address input:active, .various_address input:hover{outline:none;}
.checkout_form .panel-heading{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;border:1px solid #dddddd;border-radius:0;margin-bottom:5px;padding:0;}
.checkout_form .panel.panel-default{border-radius:0;border:none;box-shadow:none;}
.checkout_form .panel.panel-default .panel-body{border:1px solid #dddddd;}
.checkout_form .panel-title a{color:#666666;display:block;font-size:15px;line-height:18px;padding:0;}
.checkout_form .panel-title .btn{background:#aaaaaa;font-size:16px;font-weight:700;margin-right:11px;}
.checkout_form .panel-title i{color:#aaaaaa;display:inline-block;font-size:16px;line-height:48px;margin-right:20px;}
.register_part .section_title h6, .login_part .section_title h6{color:#444444;line-height:25px;padding-top:18px;}
.register_with_check > h5, .register_info > h5, .login_body > h5{border-bottom:1px solid #dddddd;color:#444444;font-weight:600;margin:20px 0;padding-bottom:14px;}
.register_with_check input[type="checkbox"]{margin-right:8px;}
.register_with_check label, .register_info li, .login_body label{color:#666666;font-size:14px;font-weight:400;margin-bottom:10px;}
.login_body label i{color:#fb9595;display:inline-block;font-size:7px;vertical-align:top;}
.register_info, .login_body > form{margin-bottom:30px;}
.login_body input{border:1px solid #dddddd;color:#555555;display:block;font-size:14px;padding:8px 15px;}
.register_with_check label::after, .login_body label::after{content:"";}
.shopping-cart-area{margin-bottom:100px;margin-top:20px;}
.shopping-cart-area table{margin-bottom:25px;}
.table.table-bordered .table-title td{color:#434343;font-size:14px;line-height:16px;padding:20px;text-align:center;font-weight:600;}
.cart-img{width:180px;color:#434343;font-size:14px;}
.cart-name{width:329px;}
.cart-subtotal, .cart-price{width:180px;}
tr.table-product-info td{color:#666666;text-align:center;height:200px;vertical-align:middle !important;}
.trash-table, .prod_edit{color:#cfcfcf;font-size:20px;}
.trash-table:hover, .prod_edit:hover{color:#666666;}
.prod-price > input, .prod-qty input{color:#666666;text-align:center;width:40px;}
tr.table-product-info td.prod-name{color:#434343;font-size:18px;font-weight:normal;}
.prod-qty input{width:75%;border:none;}
.cart-but-left{float:left;}
.cart-but-right{float:right;}
.clear-cart-but{float:left;margin-right:5px;}
.update-cart-but{float:left;}
.left_table_btn, .right_table_btn{margin:25px;}
.cart_discount h2{border-bottom:1px solid #e7e7e7;color:#555555;font-size:16px;text-transform:uppercase;}
.cart_discount span{color:#8f8f8f;}
.description{font-size:12px;}
.cart_discount input{border:1px solid #e5e5e5;font-size:12px;height:30px;margin-bottom:25px;margin-top:10px;text-indent:5px;-webkit-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;transition:all 0.5s ease 0s;width:86%;}
a.coupon{border:1px solid #dddddd;color:#666666;font-size:12px;margin-bottom:10px;margin-top:10px;padding:10px;text-decoration:none;-webkit-transition:color 0s ease 0s, background 0.5s ease 0s;-o-transition:color 0s ease 0s, background 0.5s ease 0s;transition:color 0s ease 0s, background 0.5s ease 0s;}
a.coupon:hover,a.quote:hover{color:#fff;background:#F48B47}
.estimate > h6, .cart_discount > h6{font-weight:600;color:#444444;}
.estimate > h5, .cart_discount > h5{color:#666666;font-weight:400;margin:20px 0 0 0;padding-bottom:14px;text-transform:none;}
.estimate label{color:#666666;font-size:12px;font-weight:normal;margin-top:5px;content:"";}
.estimate label span{color:#f96161;}
.estimate input{border:1px solid #e5e5e5;color:#666666;font-size:12px;height:100%;margin-bottom:20px;margin-top:5px;padding:11px;text-indent:5px;-webkit-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;transition:all 0.5s ease 0s;width:100%;}
.cart_discount .btn, .info-checkout .btn{font-size:14px;font-weight:700;}
.cart_checkout{border:1px solid #dddddd;overflow:hidden;}
.info-checkout{float:right;padding-bottom:25px;padding-top:25px;text-align:right;width:80%;}
.subtotal-grandtotal{margin-bottom:18px;margin-top:0;overflow:hidden;}
.sub-total{float:left;width:30%;}
.check-subtot{font-size:15px;color:#333;}
.check-grandtot{color:#333;font-size:17px;font-weight:700;}
.grand-total{float:right;width:70%;}
a.chekout{background-color:#f39c12;border:1px solid #ddd;color:#fff;font-size:16px;font-weight:300;margin-bottom:10px;margin-left:9px;margin-top:15px;padding:11px 23px;position:relative;text-decoration:none;-webkit-transition:color 0s ease 0s, background-color 0.5s ease 0s;-o-transition:color 0s ease 0s, background-color 0.5s ease 0s;transition:color 0s ease 0s, background-color 0.5s ease 0s;}
.info-box{border:1px solid #ccc;padding:16px 10px 6px 1px;-webkit-transition:color 0s ease 0s, background 0.5s ease 0s;-o-transition:color 0s ease 0s, background 0.5s ease 0s;transition:color 0s ease 0s, background 0.5s ease 0s;}
.info-box i{color:#f48b47;font-size:22px;margin-left:18px;margin-top:2px;}
.block-info{margin-left:55px;margin-top:-25px;}
p.info-block-title{color:#555;font-size:16px;font-weight:700;letter-spacing:-0.04em;text-transform:uppercase;}
p.info-block-content{color:#898989;font-size:14px;letter-spacing:-0.006em;margin-top:-7px;}
.box-border{border-top:1px solid #ebebeb;padding-top:48px;}
#loader-wrapper .logo a{font-weight:700;color:#3498DB;font-size:12px;}
.logo span{color:#f85654;}
#loader-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:999999;background:#fff;}
div#loader-wrapper .logo span{font-size:8px;left:calc(50% - 19px);margin:0;position:absolute;top:calc(50% + 40px);}
#preloader6{position:relative;width:42px;height:42px;animation:preloader_6 5s infinite linear;left:calc(50% - 19px);top:calc(50% - 19px);}
#preloader6 span{width:20px;height:20px;position:absolute;background:red;display:block;animation:preloader_6_span 1s infinite linear;}
#preloader6 span:nth-child(1){background:#2ecc71;}
#preloader6 span:nth-child(2){left:22px;background:#9b59b6;animation-delay:.2s;}
#preloader6 span:nth-child(3){top:22px;background:#3498db;animation-delay:.4s;}
#preloader6 span:nth-child(4){top:22px;left:22px;background:#f1c40f;animation-delay:.6s;}
@keyframes preloader_6_span{0%{transform:scale(1);}
50%{transform:scale(0.5);}
100%{transform:scale(1);}
}
.uk-offcanvas{display:none;position:fixed;top:0;right:0;bottom:0;left:0;font-size:1em;z-index:1000;background:rgba(0,0,0,0.1)}
.uk-offcanvas.uk-active{display:block}
.uk-offcanvas-page{position:fixed;-webkit-transition:margin-left .3s ease-in-out;transition:margin-left .3s ease-in-out}
.uk-offcanvas-bar{position:fixed;top:0;bottom:0;left:0;-webkit-transform:translateX(-100%);transform:translateX(-100%);z-index:1001;width:270px;max-width:100%;background:#333;overflow-y:auto;-webkit-overflow-scrolling:touch;-webkit-transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out}
.uk-offcanvas.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show{-webkit-transform:translateX(0%);transform:translateX(0%)}
.uk-offcanvas-bar-flip{left:auto;right:0;-webkit-transform:translateX(100%);transform:translateX(100%)}
.uk-offcanvas .uk-panel{margin:20px 15px;color:#777}
.uk-offcanvas .uk-panel-title{color:#ccc}
.uk-offcanvas .uk-panel a:not([class]){color:#ccc}
.uk-offcanvas .uk-panel a:not([class]):hover{color:#fff}
.uk-nav,.uk-nav ul{margin:0;padding:0;list-style:none}
.uk-nav li > a{display:block;text-decoration:none}
.uk-nav > li > a{padding:5px 15px}
.uk-nav ul{padding-left:15px}
.uk-nav ul a{padding:2px 0}
.uk-nav li > a > div{font-size:12px;line-height:18px}
.uk-nav-header{padding:5px 15px;text-transform:uppercase;font-weight:700;font-size:12px}
.uk-nav-header:not(:first-child){margin-top:15px}
.uk-nav-divider{margin:9px 15px}
.uk-nav-offcanvas > li > div{padding-left:15px}
ul.uk-nav-sub{padding:5px 0 5px 15px}
.uk-nav-parent-icon > .uk-parent > a:after{content:"\f104";width:20px;margin-right:-10px;float:right;font-family:FontAwesome;text-align:center}
.uk-nav-parent-icon > .uk-parent.uk-open > a:after{content:"\f107"}
.uk-nav-side > li > a{color:#444}
.uk-nav-side > li > a:hover,.uk-nav-side > li > a:focus{background:rgba(0,0,0,0.05);color:#444;outline:none}
.uk-nav-side > li.uk-active > a{background:#00a8e6;color:#fff}
.uk-nav-side .uk-nav-header{color:#444}
.uk-nav-side .uk-nav-divider{border-top:1px solid #ddd}
.uk-nav-side ul a{color:#07d}
.uk-nav-side ul a:hover{color:#059}
.uk-nav-dropdown > li > a{color:#444}
.uk-nav-dropdown > li > a:hover,.uk-nav-dropdown > li > a:focus{background:#00a8e6;color:#fff;outline:none}
.uk-nav-dropdown .uk-nav-header{color:#999}
.uk-nav-dropdown .uk-nav-divider{border-top:1px solid #ddd}
.uk-nav-dropdown ul a{color:#07d}
.uk-nav-dropdown ul a:hover{color:#059}
.uk-nav-navbar > li > a{color:#444}
.uk-nav-navbar > li > a:hover,.uk-nav-navbar > li > a:focus{background:#00a8e6;color:#fff;outline:none}
.uk-nav-navbar .uk-nav-header{color:#999}
.uk-nav-navbar .uk-nav-divider{border-top:1px solid #ddd}
.uk-nav-navbar ul a{color:#07d}
.uk-nav-navbar ul a:hover{color:#059}
.uk-nav-offcanvas > li > a{color:#ccc;padding:10px 15px}
.uk-nav-offcanvas > .uk-open > a,html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover,html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus{background:#404040;color:#ccc;outline:none}
html .uk-nav.uk-nav-offcanvas > li.uk-active > a{background:#1a1a1a;color:#fff}
.uk-nav-offcanvas .uk-nav-header{color:#777}
.uk-nav-offcanvas .uk-nav-divider{border-top:1px solid #1a1a1a}
.uk-nav-offcanvas ul a{color:#ccc}
html:not(.uk-touch) .uk-nav-offcanvas ul a:hover{color:#fff}
.uk-navbar{background:#eee;color:#444}
.uk-navbar:before,.uk-navbar:after{content:" ";display:table}
.uk-navbar:after{clear:both}
.uk-navbar-nav{margin:0;padding:0;list-style:none;float:left}
.uk-navbar-nav > li{float:left;position:relative}
.uk-navbar-nav > li > a{display:block;-moz-box-sizing:border-box;box-sizing:border-box;text-decoration:none;height:40px;padding:0 15px;line-height:40px;color:#444;font-size:14px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400}
.uk-navbar-nav > li > a[href='#']{cursor:text}
.uk-navbar-nav > li:hover > a,.uk-navbar-nav > li > a:focus,.uk-navbar-nav > li.uk-open > a{background-color:#f5f5f5;color:#444;outline:none}
.uk-navbar-nav > li > a:active{background-color:#ddd;color:#444}
.uk-navbar-nav > li.uk-active > a{background-color:#f5f5f5;color:#444}
.uk-active > a{color:#e5002c!important}
.uk-navbar-nav .uk-navbar-nav-subtitle{line-height:28px}
.uk-navbar-nav-subtitle > div{margin-top:-6px;font-size:10px;line-height:12px}
.uk-navbar-content,.uk-navbar-brand,.uk-navbar-toggle{-moz-box-sizing:border-box;box-sizing:border-box;display:block;height:40px;padding:0 15px;float:left}
.uk-navbar-content:before,.uk-navbar-brand:before,.uk-navbar-toggle:before{content:'';display:inline-block;height:100%;vertical-align:middle}
.uk-navbar-content + .uk-navbar-content:not(.uk-navbar-center){padding-left:0}
.uk-navbar-content > a:not([class]){color:#07d}
.uk-navbar-content > a:not([class]):hover{color:#059}
.uk-navbar-brand{font-size:18px;color:#444;text-decoration:none}
.uk-navbar-brand:hover,.uk-navbar-brand:focus{color:#444;text-decoration:none;outline:none}
.uk-navbar-toggle{font-size:18px;color:#444;text-decoration:none}
.uk-navbar-toggle:hover,.uk-navbar-toggle:focus{color:#444;text-decoration:none;outline:none}
.uk-navbar-toggle:after{content:"\f0c9";font-family:FontAwesome;vertical-align:middle}
.uk-navbar-toggle-alt:after{content:"\f002"}
.uk-navbar-center{float:none;text-align:center;max-width:50%;margin-left:auto;margin-right:auto}
.uk-navbar-flip{float:right}
.uk-subnav{padding:0;list-style:none;font-size:.001px}
.uk-subnav > li{position:relative;font-size:1rem;vertical-align:top}
.uk-subnav > li,.uk-subnav > li > a,.uk-subnav > li > span{display:inline-block}
.uk-subnav > li:nth-child(n+2){margin-left:10px}
.uk-subnav > li > a{color:#07d}
.uk-subnav > li > a:hover{color:#059}
.uk-subnav > li > span{color:#999}
.uk-subnav-line > li:nth-child(n+2):before{content:"";display:inline-block;height:10px;margin-right:10px;border-left:1px solid #ddd}
.uk-subnav-pill > li > a,.uk-subnav-pill > li > span{padding:3px 9px;text-decoration:none}
.uk-subnav-pill > li > a:hover,.uk-subnav-pill > li > a:focus{background:#eee;color:#444;outline:none}
.uk-subnav-pill > li.uk-active > a{background:#00a8e6;color:#fff}
.uk-nav-offcanvas > li > a{color:#ccc;padding:10px 15px;border-top:1px solid rgba(0,0,0,0.3);box-shadow:inset 0 1px 0 rgba(255,255,255,0.05);text-shadow:0 1px 0 rgba(0,0,0,0.5)}
.uk-nav-offcanvas .uk-nav-header{color:#777;margin-top:0;border-top:1px solid rgba(0,0,0,0.3);background:#404040;box-shadow:inset 0 1px 0 rgba(255,255,255,0.05);text-shadow:0 1px 0 rgba(0,0,0,0.5)}
.uk-nav-offcanvas .uk-nav-divider{border-top:1px solid rgba(255,255,255,0.01);margin:0;height:4px;background:rgba(0,0,0,0.2);box-shadow:inset 0 1px 3px rgba(0,0,0,0.3)}
.uk-nav .mega-sub-menu{padding-left:5px}
.uk-nav-sub h5{color:#fff;margin:15px 0;text-transform:uppercase}
@media (min-width:992px){.toggle-menu{display:none}
}



/* CUSTOM */

.cart_btn{margin-top:7px !important;padding:0px 5px;}
.ordinary_link{color:#337ab7;font-size:12px;text-decoration:underline !important;}
.header_category{border:1px solid #DDD;padding:15px;margin:0 0 10px 0;}
.header_category a{color:#555;font-size:13px;}
.header_category ul li{margin:10px 0 0 0;}
.title_category{text-align:center;padding:12px 0 0 0;font-weight:700;}
.header_toko{border:1px solid #DDD;padding:0px;margin:0 0 30px 0;}
.header_toko a{color:#555;font-size:13px;}
small a{color:#cc2b2b;}
.form-signup li input{margin:0 0 10px 0;}
.sidebar-filter{background:#fff;padding:15px 15px 20px;}
.sidebar-filter h2{font-size:18px;margin:0;}
.sidebar-filter h3{font:600 14px 'Open Sans', sans-serif;text-transform:none;padding-top:10px;}
.sidebar-filter label{text-transform:none;font:400 13px 'Open Sans', sans-serif;}
.sidebar-filter #amount{font-weight:normal !important;color:#767F88 !important;}
.sidebar-filter .ui-widget-content{border:none;background:#e5e5e5;border-radius:0;height:8px !important;}
.sidebar-filter .ui-widget-header{background:#ffb848;}
#title_store{padding:20px 30px 0px 0px;}
#title_store p{font-size:14px;}
#logo_store{padding:20px 10px 20px 40px;}
.panel-group{margin-bottom:10px !important;}
.single_product_description{margin:0px 0px 0px 20px;}
.single_product_page{font-size:13px;}
.image_userprofile{margin-top:10px;}
.section_title{font-size:18px;}
.sub_menu_user{border:1px solid #DDD;padding:15px 0px 15px 15px;margin:0 0 20px 0;}
.sub_menu_user .grid_view{margin-bottom:0px !important;}
.well{background:#f7f7f7;font-size:14px;}
.modal-body{font-size:13px;}
legend{font-size:16px;}
.cart_box{font-size:13px;}
.cart-holder thead tr td{padding:10px;font-size:1.1em;background:#F8F8F8;}
.mr-10{margin-right:10px;}
.delete-product-all{margin:0 50px 0 0;}
.uk-link{color:#881E1E;}
a{color:#737373;line-height: 30px;/*di seidebar toko */}
.category_products .latest_post{margin-top:0px !important;}
.img_bukatoko{margin:0 0 20px 0;}
.title_bukatoko{font-size:15px;font-weight:bold;margin:10px 0 0 0;}
.buka_toko{font-size:13px;}
.megamenu1 em a{background:none !important;color:#555555;display:inline-table;font-size:16px;font-style:normal;font-weight:600;margin-bottom:-10px !important;overflow:hidden;padding-right:10px;position:relative;text-transform:uppercase;}
#product_category button{background:#FFF !important;}
.subtotal_box{border:1px solid #DDD;padding:15px;margin:0 0 30px 0;}
.product-block{margin-bottom:30px!important;}
.product-block:hover .product-image{-webkit-transition:all 0.3s ease-in-out ease-in-out 0.2s;-moz-transition:all 0.3s ease-in-out ease-in-out 0.2s;-o-transition:all 0.3s ease-in-out ease-in-out 0.2s;transition:all 0.3s ease-in-out ease-in-out 0.2s;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.product-block:hover .product-image .image img{filter:alpha(opacity=@opacity * 100);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4;filter:alpha(opacity=40);}
.product-block:hover .woocommerce-action{filter:alpha(opacity=@opacity * 100);-moz-opacity:1;-khtml-opacity:1;opacity:1;filter:alpha(opacity=100);}
.product-block .product-image{position:relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;border:1px solid #e8e8e8;border-right:0;}
.product-block .product-image:after{position:absolute;width:1px;height:100%;content:"";right:0;top:0;background:#e8e8e8;}
.product-block .image{overflow:hidden;position:relative;}
.product-block .image .image-effect{position:absolute;top:0;left:0;}
.product-block .image img{display:block;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;}
.product-block .image > a{display:block;position:relative;}
.product-block .star-rating{float:none;font-size:12px;width:5.6em;margin:10px auto 0!important;}
.product-block .woocommerce-action{position:absolute;top:50%;left:0;width:100%;margin-top:-20px;background:#fff;filter:alpha(opacity=@opacity * 100);-moz-opacity:0;-khtml-opacity:0;opacity:0;filter:alpha(opacity=0);-webkit-transition:all 0.3s ease-in-out 0.2s;-moz-transition:all 0.3s ease-in-out 0.2s;-o-transition:all 0.3s ease-in-out 0.2s;transition:all 0.3s ease-in-out 0.2s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.product-block .button-item{text-align:center;position:relative;}
.product-block .button-item .cart-text{display:none;}
.product-block .button-item .yith-wcwl-add-to-wishlist{position:relative;display:inline-block;text-align:center;margin-top:0;padding:10px 10px;}
.product-block .button-item .yith-wcwl-add-to-wishlist img{display:none!important;}
.product-block .button-item .yith-wcwl-add-to-wishlist .fa{margin-right:0;}
.product-block .button-item .yith-wcwl-add-to-wishlist span{display:none;}
.product-block .button-item .clear{display:none;}
.product-block .button-item .btn-compare,
.product-block .button-item .yith-wcwl-add-to-wishlist a,
.product-block .button-item .btn-cart,
.product-block .button-item .btn-quickview{color:#333333;}
.product-block .button-item .btn-compare:hover,
.product-block .button-item .yith-wcwl-add-to-wishlist a:hover,
.product-block .button-item .btn-cart:hover,
.product-block .button-item .btn-quickview:hover{color:#ff5555;}
.product-block .button-item .btn-cart:after,
.product-block .button-item .btn-quickview:after,
.product-block .button-item .yith-wcwl-add-to-wishlist:after{content:"";display:block;width:1px;height:13px;background:#ddd;position:absolute;top:50%;margin-top:-6px;right:0;}
.product-block .button-item .added:before{display:none;}
.product-block .button-item .added_to_cart{display:none;}
.product-block .button-item a.button{padding:10px 10px;display:inline-block;min-width:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:0;background:transparent;text-shadow:none;text-align:center;font-weight:600;text-transform:uppercase;background:transparent!important;-webkit-box-shadow:none;box-shadow:none;}
.product-block .name{margin:0;font-size:12px;font-weight:400;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.product-block .name a{color:#333333;}
.product-block .name a:hover{color:#ff5555;}
.product-block .product-meta{margin-top:-10px;}
.product-block.product-deals .onsale{display:none;}
.product-block.product-deals .product-image .countdown .countdown-row{position:absolute;bottom:25px;left:0;z-index:10;color:#fff;height:50px;text-align:center;width:100%;padding:0 10px;}
.product-block.product-deals .product-image .countdown .countdown-row > span{display:block;float:left;width:25%;padding:5px;overflow:hidden;position:relative;line-height:1.6;}
.product-block.product-deals .product-image .countdown .countdown-row > span span{display:block;background:rgba(100, 100, 100, 0.7);color:#fff;}
.product-block.product-deals .product-image .countdown .countdown-row > span span:first-child{padding-top:5px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;border-top-left-radius:4px;border-top-right-radius:4px;}
.product-block.product-deals .product-image .countdown .countdown-row > span span:last-child{-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;padding-bottom:5px;}
.product-block.product-deals .product-image .countdown .countdown-row .countdown-amount{font-weight:600;}
.product-block.product-deals .product-image .countdown .countdown-row .countdown-period{text-transform:lowercase;font-weight:300;}
.product-block.product-list{overflow:hidden;margin-bottom:30px;}
.product-block.product-list .product-meta{text-align:left;margin-left:220px;}
.product-block.product-list .product-image{width:200px;}
.product-block.product-list [itemprop="description"]{position:relative;margin:10px 0 20px;padding:20px 0;}
.product-block.product-list [itemprop="description"] p{margin-bottom:0;}
.product-block.product-list [itemprop="description"]:after,
.product-block.product-list [itemprop="description"]:before{content:"";display:block;position:absolute;left:0;width:100px;height:1px;background:#e8e8e8;}
.product-block.product-list [itemprop="description"]:after{bottom:0;}
.product-block.product-list [itemprop="description"]:before{top:0;}
.product-block.product-list .woocommerce-product-rating .woocommerce-review-link{display:none;}
.product-block.product-list .star-rating{margin:0 !important;display:inline-block;}
.product-block.product-list .woocommerce-review-link{color:#999999;}
.product-block.product-list .woocommerce-review-link:hover{color:#ff5555;}
.product-block.product-list .name{margin:12px 0;}
.product-block.product-list .name a{font-size:16.25px;}
.product-block.product-list .button-item{text-align:left;margin-top:0;}
.product-block.product-list .button-item:after{display:none;}
.product-block .category{margin-bottom:10px;}
.product-block .category a{color:#999;}
.product-block .category a:hover{text-decoration:underline;}
.product-quantity .numbers-row{display:inline-block;margin-left:10px;margin-top:17px;width:100px;}
.product-quantity{border-bottom:1px dashed #ddd;padding-bottom:21px;position:relative;}
.numbers-row .button{background:#ddd none repeat scroll 0 0;color:#6e6e6e !important;cursor:pointer;font-size:13px !important;font-weight:normal !important;height:26px !important;line-height:25px;position:absolute;text-align:center;transition:all 0.3s ease 0s;width:26px;}
.numbers-row .button:hover{background:#921b1f none repeat scroll 0 0;color:#fff !important;}
.s-poraduct-botton{float:right;margin-right:0;margin-top:18px;width:143px;}
.s-poraduct-botton > input{background:#921b1f none repeat scroll 0 0;border:1px solid #921b1f;border-radius:0;color:#fff;font-family:Montserrat;font-size:14px;font-weight:bold;padding:4px 20px;transition:all 0.4s ease 0s;}
.s-poraduct-botton > input:hover{background:#444 none repeat scroll 0 0;border:1px solid #444;}
.product-quantity .numbers-row{position:relative;}
.product-quantity input{border:3px solid #222 !important;color:#333;font-size:14px;height:46px;text-align:center;width:100%;}
.product-quantity .dec.button{right:55px;top:10px;}
.product-quantity .inc.button{right:-34px;top:10px;}
form.login,
form.login,
form.checkout_coupon,
form.checkout_coupon,
form.register,
form.register{border:1px solid #e0dadf;padding:20px;margin:2em 0 2em 0px;text-align:left;-webkit-border-radius:5px;border-radius:5px;}
.payment a{float:left;margin-bottom:10px;}
.product-short-description{border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:0 0px 15px 0;margin-top:10px;padding:14px 0 17px;}
h6{font-weight:500;color:#333333;font-size:13px;line-height:2;}
.singl-share{margin-top:18px;}
h3{font-weight:500;}
.pgl-paging-footer{border-top:1px solid #e8e8e8;padding-top:15px;}
.heading-title,
.widget-title{text-transform:uppercase;font-size:1.385em;margin-bottom:20px;margin-top:0;color:#737373;line-height:35px;position:relative;}
.heading-title span,
.widget-title span{position:relative;display:inline-block;}
.heading-title.text-center:after,
.widget-title.text-center:after{right:0;margin:0 auto;}
.heading-title:after,
.widget-title:after,
.heading-title:before,
.widget-title:before{position:absolute;display:block;content:"";}
.heading-title:after,
.widget-title:after{width:85px;height:3px;background:#737373;left:0;bottom:-9px;}
.heading-title:before,
.widget-title:before{left:100%;width:100%;height:1px;background:#e8e8e8;left:0;bottom:-10px;}
.heading-title.text-left span,
.widget-title.text-left span{padding-left:0;}
.heading-title.text-right span,
.widget-title.text-right span{padding-right:0;}
.header_shop a{color:#555;font-size:13px;}
.header_shop ul li{margin:10px 0;}
.paging{float:left;}
p.woocommerce-result-count{float:right;}
.shop_header{position:relative;height:150px;width:100%;margin-top:-23px;background:-moz-linear-gradient(top, rgba(43,43,43,0) 0%, rgba(43,43,43,0) 50%, rgba(43,43,43,0.3) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,43,43,0)), color-stop(50%,rgba(43,43,43,0)), color-stop(100%,rgba(43,43,43,0.3)));background:-webkit-linear-gradient(top, rgba(43,43,43,0) 0%,rgba(43,43,43,0) 50%,rgba(43,43,43,0.3) 100%);background:-o-linear-gradient(top, rgba(43,43,43,0) 0%,rgba(43,43,43,0) 50%,rgba(43,43,43,0.3) 100%);background:-ms-linear-gradient(top, rgba(43,43,43,0) 0%,rgba(43,43,43,0) 50%,rgba(43,43,43,0.3) 100%);background:linear-gradient(to bottom, rgba(43,43,43,0) 0%,rgba(43,43,43,0) 50%,rgba(43,43,43,0.3) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#002b2b2b', endColorstr='#2b2b2b',GradientType=0);}
.shop_header_data{margin-top:-40px;}
.shop_header_data h3{color:#fff;text-shadow:0px 2px 1px rgba(0,0,0,0.7),
0px 4px 6px rgba(0,0,0,0.1),
0px 9px 10px rgba(0,0,0,0.1);}
.shop_header_data p{color:#666666;margin-top:30px;}
.pagination{margin-top:10px !important;}
.paging .pagination > li > a:hover, .paging .pagination > li > span:hover, .paging .pagination > li > a:focus, .paging .pagination > li > span:focus, .paging .pagination > li > span.current{background:#666666;color:#fff;border:1px solid #666666;}
.sidebar-menu a{color:#737373;}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{background:#666666;border-color:#666666;}
.list-group-item.active a{color:#FFF;}
.sidebar-menu a.active{color:yellow;}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{background-color:none !important;border-color:#204d74;}
.payment_method_wrapper{border:1px solid #dddddd;padding:0px 10px;margin-bottom:20px;}
.active_payment{background:#f5f5f5;border:1px solid #c9c9c9;}
.checkbox_payment label:hover{background:#f5f5f5;}
.payment_method_wrapper:hover{background:#f5f5f5;}
.payment_method_wrapper .checkbox_payment{padding:0;}
.payment_method_wrapper hr{margin-top:0px;margin-bottom:10px;}
.category{margin-bottom:0px;}
.ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.checkbox label{padding-left:0px;}
span.onsale{background:#902221 none repeat scroll 0 0;color:#fff;font-size:.923076em;font-weight:300;line-height:1.2;padding:5px;position:absolute;right:0;text-align:center;text-transform:uppercase;top:0;width:auto;z-index:2;margin:0 15px 0 0;}
span.onsale_userarea{background:#902221 none repeat scroll 0 0;color:#fff;font-size:.923076em;font-weight:300;line-height:1.2;padding:5px;position:absolute;right:0;text-align:center;text-transform:uppercase;top:0;width:auto;z-index:2;margin:0;}
.menu_title_mobile{margin-top:15px;padding:5px 10px;}
.product_photo_wrapper{border:1px solid #dddddd;}
.discussWrapper{font-size:12px;}
#red_menu a{color: #c22d2b;}
