@import "bootstrap/bootstrap.min.css";
@import "bootstrap/bootstrap-responsive.min.css";
@import "bootstrap/bootstrap-fileupload.css";
@import "jquery/ui.css";
@import "epiechart/jquery.easy-pie-chart.css";
@import "fancybox/jquery.fancybox.css";
@import "uniform/uniform.css";
@import "select/select.css";
@import "tagsinput/jquery.tagsinput.css";
@import "multiselect/multiselect.css";
@import "validation/validationEngine.jquery.css";
@import "stepywizard/jquery.stepy.css";
@import "mcustomscrollbar/mCustomScrollbar.css";
@import "cleditor/cleditor.css";
@import "shbrush/shCoreDefault.css";
@import "shbrush/shThemeDefault.css";
@import "../js/plugins/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css";
@import "icons.css";
@import "styling.css";
@import "stylesheet.css";
@import "opera.css";
@import "mystyles.css";

html { height: 100%; }
body { min-height: 100%; font-family: "Segoe UI", arial, sans-serif; font-size: 12px; position: relative; background: url('../img/backgrounds/default.jpg') left top repeat;}
.body .navigation > li{position: relative;}
    .body .navigation > li .sub{left: 0px; top: 99px; z-index: 100; padding: 0px;}
        .body .navigation > li .sub li{float: left; background: #F5F5F5; margin: 0px;}
        .body .navigation > li .sub li a{padding: 5px 10px; width: 180px; float: left;}

/*~Smartphones (portrait and landscape)~*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {    
    .data, .data-fluid{ overflow: hidden; overflow-x: scroll; }    
}

/*~Smartphones (landscape)~*/
@media only screen and (min-width : 321px) {
    
}

/*~Smartphones (portrait)~*/
@media only screen and (max-width : 320px) {
    
}

@media only screen and (max-width: 767px){
    .body .navigation > li{position: relative;}
    .body .navigation > li .sub{left: 0px; top: 70px; z-index: 100; padding: 0px;}
        .body .navigation > li .sub li{float: left; background: #F5F5F5; margin: 0px;}
        .body .navigation > li .sub li a{padding: 5px 10px; width: 180px; float: left;}
    .popup.active{position: fixed; left: 50%; margin-left: -150px;}        
}

@media only screen and (max-width: 768px){
    body{padding: 0px;}
        
        .body .navigation .button{width: 55px; height: 55px; }
        .body .navigation .arrow{display: none;}
        .body .navigation .button .icon{width: 55px; height: 44px; margin: 0px; border: 0px;}
        .body .navigation .button .name{font-size: 10px;}
    
    .data, .data-fluid{ overflow: hidden; overflow-x: scroll; }
    .body .content .widget{margin-bottom: 0px;}
    .body .content .widget:nth-child(1n){margin-right: 3px;}
    
}

@media only screen and (max-width: 1023px) {    
    
    .body .navigation .button{width: 55px; height: 55px; }
    .body .navigation .arrow{display: none;}
    .body .navigation .button .icon{width: 55px; height: 44px; margin: 0px; border: 0px;}
    .body .navigation .button .name{font-size: 10px;}        
    
}

/*~iPads (portrait and landscape)~*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .body .navigation .button .icon{padding-top: 4px; height: 41px;}    
    .body .content .widget{margin-bottom: 0px;}
    .body .content .widget:nth-child(2n){margin-right: 0px;}
}



@media only screen and (max-width: 1024px) {
    .wrapper{margin: 0px 10px;}
    .body{margin-left: 0px; padding-left: 0px; margin-top: 0px; z-index: 10;}
    
    .sidebar{left: 0px; top: 10px; width: 100%; z-index: 20; display: none; background: url('../img/wpoint8.png') left top repeat;}
    .sidebar .close{display: block;}
        .sidebar .top, .sidebar .widget{display: none;}        
        .sidebar .navigation{float: left; width: 100%;}
            .sidebar .navigation li{padding: 3px 10px; width: 100%; }
            .sidebar .navigation > li > a, .sidebar .navigation li ul,
            .sidebar .navigation li ul li,.sidebar .navigation li ul li a{width: 100%;}
                .sidebar .navigation li ul{display: none;}
                    .sidebar .navigation li.active ul{display: block; float: left;}
                .sidebar .navigation li ul li{clear: both;}
          
    .body .navigation{height: auto;}
    .body .navigation .buttons .sbutton.navButton{display: inline-block;}
    
}

@media only screen and (max-width: 1279px) {
    .wrapper.fixed{width: auto; margin: 0px 10px;}
}

