.ms-container:after{
  content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden;
}
.ms-container{margin-bottom: 5px; background: url('../../img/switch.png') center center no-repeat;}

.ms-container .ms-selectable, .ms-container .ms-selection{
  width: 48%;
  background: #fff;
  color: #333;
  float: left;
}
.ms-container .ms-selection{float: right;}

.ms-container .ms-list{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #DDD;
}


.ms-selected{
  display:none;
}
.ms-container .ms-selectable{
  
}

.ms-container .ms-list.ms-focus{}

.ms-container ul{
  margin: 0;
  list-style-type: none;
}

.ms-container ul.ms-list{
  height: 200px;
  padding: 0px 0px;
  overflow-y: auto;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selected{
  border-bottom: 1px #CCC solid;
  padding: 4px 10px;
  color: #555;
  font-size: 11px;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #CCC;
  color: #aaa;
}

.ms-container .ms-optgroup-label{
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container li.ms-elem-selectable:not(.disabled).ms-hover,
.ms-container .ms-selection li:not(.disabled).ms-hover{
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  background-color: #009AD7;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.multipleselect-header{    
    border: 1px solid #DDD;        
    background: #EEE;
    color: #333;
    text-shadow: 1px 1px 0px #FFF;
    padding: 1px 5px 0px;    
    border-bottom: 0px;
    font-size: 11px;
    font-weight: bold;
}